.text-with-video .title {
    margin-bottom: 26px;
}
.text-with-video__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.text-with-video__mark {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.05em;
    color: #000;
    margin-bottom: 42px;
    animation-delay: 0.3s;
}

.text-with-video__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #000;
    animation-delay: 0.7s;
}
.text-with-video__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 527px;
    height: 345px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.text-with-video__content {
    margin-bottom: 40px;
}
.text-with-video__btns {
    animation-delay: 1s;
}
.text-with-video__btn-box {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
}
.text-with-video__btn-box .btn {
    margin: 0 16px;
}
.page__section_text-with-video .title__span > .title__text {
    font-weight: 300;
    line-height: 130%;
}
.page__section_text-with-video .title__span > .title__h1 {
    font-weight: 500;
}
.text-with-video__video{
    margin-bottom: 30px;
}
@media (min-width: 1160px) {
    .text-with-video__inner {
        flex-direction: row;
    }
    .text-with-video__content {
        margin-bottom: 0;
        padding-right: 172px;
    }
    .page__section_text-with-video{
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-image: url(../images/beaty_pattern_r.png);
    }
    .text-with-video__video{
        margin-right: 144px;
        margin-bottom: 0;
    }

    .page__section_text-with-video .title__span > .title__h1 {
        font-size: 42px;
    }
}
@media (max-width: 600px) {
    .text-with-video__description {
        margin-bottom: 40px;
    }
    .text-with-video__content {
        margin-bottom: 50px;
    }
}
