.logo img{
    max-width: 192px;
}
.section_wrap_class > .container > .content{
    padding-left: 0;
    margin-left: 0;
}
.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
    background-color: var(--biege);
}
.title-search-result{
    background: #fff;
    box-shadow: 0px 10px 10px var(--transparent);
    z-index: 200;
}
.title-search-result-table th,
.title-search-result-table td{
    padding: 0 10px;
}
h1.title{
    margin-bottom: 80px;
}

h1.title .title__postfix-text{
    display: block;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg)
}
h1.title .title__postfix_sub {
    margin-left: -30px;
    margin-top: -8px;
}
h1.title .title__span > *,
h1.title .title__span{
    display: inline;
}
.sub-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 80px;
    max-width: 240px;
}
.title-search-item a{
    display: block;
    margin-bottom: 10px;
}

.footer__map-text_bot span{
    display: inline-flex;
}
.footer__map-text_bot .phone-link{
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    display: inline-flex;
}

.btn-invite-design-link:hover {
    color: var(--black);
}

@media (min-width: 1160px) {
    .modal-form-block form {
        width: 100%;
        padding: 0;
    }
    .modal-form-block > [id^="comp"],
    .modal-form-block > [id^="bx_incl_area_"] {
        width: 50%;
        padding: 45px 154px;
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        display: flex
    ;
        align-items: center;
    }
    .footer__map-block .container_mobile{
        display: none;
    }
}

@media (max-width: 500px) {
    .map_desctop iframe{
        max-width: 100%;
    }

    .title .title__span{
        display: block;
    }

    .title .title__postfix_sub {
        position: static;
        margin-left: 0;
        margin-top: 0;
        white-space: normal;
        text-align: right;
        display: block;
    }
}
@media (min-width: 1160px) {
    .big-menu .v-menu__item_has-children.is-active > .v-menu__list_sub,
    .big-menu .big-menu__item_common .v-menu__list_sub {
        display: none;
    }
}

.mobile-header__menu {
    border-bottom: none;
    overflow: visible;
    height: auto;
}
.mobile-header__dropdown-content {
    overflow: auto;
    height: calc(100vh - 268px);
}
.mobile-header__dropdown-content .social-links__item {
    background: var(--transparent);
    width: 48px;
    height: 48px;
}
.mobile-header__dropdown-content .social-links__list{
    justify-content: space-between;
    margin-bottom: 15px;
}
.mobile-header__menu_bot .top-menu{
    background: none;
}

.mobile-header__menu_bot{
    border-top: 1px solid var(--gray-lines);
    padding-top: 18px;
    padding-bottom: 36px;
    margin-top: 36px;
}
.mobile-header__menu_bot .top-menu__list,
.mobile-header__menu_bot .top-menu__container{
    display: block;
    text-align: center;
}
.mobile-header__dropdown-content-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray-text);
    margin-bottom: 12px;
    text-align: center;
}

.elektrokarniz-page .ik-icon,
.ek-box__img img,
.advantage-item__title .ik-icon,
.section-advantages__item-img img{
    filter: hue-rotate(-177deg) saturate(0.5);
}
.footer__politics-link{
    display: block;
}
.pagination__list{
    display: flex;
}
.pagination__list > *{
    margin: 0 3px;
}
.pagination__list svg{
    width: 10px;
}