.index-page .promo-suggest-block_var-3 .promo-suggest-block__box_btns {
  margin-bottom: 0;
}
.index-page .promo-suggest-block_var-1 .promo-suggest-block__sub-title {
  margin-bottom: 25px;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2plY3RzL2NlbnRyc2h0b3Ivc2Nzcy9wYWdlcy9pbmRleC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUlFO0VBQ0U7O0FBRUY7RUFDRSIsImZpbGUiOiJwcm9qZWN0cy9jZW50cnNodG9yL3Njc3MvcGFnZXMvaW5kZXguY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcIi4uL3V0aWxzL2NvcmVcIjtcblxuLmluZGV4LXBhZ2V7XG4gICRwcm9tb0Jsb2NrOiAnLnByb21vLXN1Z2dlc3QtYmxvY2snO1xuICAjeyRwcm9tb0Jsb2NrfV92YXItMyAjeyRwcm9tb0Jsb2NrfV9fYm94X2J0bnN7XG4gICAgbWFyZ2luLWJvdHRvbTogMDtcbiAgfVxuICAjeyRwcm9tb0Jsb2NrfV92YXItMSAjeyRwcm9tb0Jsb2NrfV9fc3ViLXRpdGxle1xuICAgIG1hcmdpbi1ib3R0b206IDI1cHg7XG4gIH1cbn1cbiJdfQ== */
