.banners {
  position: relative;
}

@media (min-width: 1160px) {
  .banner_with_pattern .slider__wrapper:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top:0;
    left:50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/n_white_pattern.png);
    background-position: 100% 0;
    z-index: 2;
  }
}
@media (max-width: 1650px) {
  .banner_with_pattern .slider__wrapper{
    overflow: hidden;
  }
  .banner_with_pattern .slider__wrapper:before{
    width: 156px;
    margin-left: 658px;
  }
}
.banners .lSPager {
  position: absolute;
  bottom: 12px;
  width: 100%;
}
.banners .slider__wrapper .lSSlideOuter .lSPager.lSpg > li a {
  background: var(--white);
  opacity: 0.25;
}
.banners .slider__wrapper .lSSlideOuter .lSPager.lSpg > li.active a,
.banners .slider__wrapper .lSSlideOuter .lSPager.lSpg > li:hover a {
  opacity: 1;
}
.is-not-init .banners__item:not(:first-child) {
  display: none;
}
.banners__item {
  text-decoration: none;
  position: relative;
}
.banners__item-image {
  line-height: 1;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.is-ios .banners__item-image {
  height: 90vh;
}
@media (min-width: 1400px) {
  .banners__item-image {
    height: calc(100vh - 48px);
  }
}
.banners__item-content {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.banners__item-title, .banners__item-description, .banners__item-btns {
  --animate-duration: 1s;
}
.banners__item-title {
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 18px;
}
@media (max-width: 400px) {
  .banners__item-title {
    margin-bottom: 10px;
  }
}
.banners__item-title span {
  font-weight: 500;
}
.banners .banners__item-content .banners__item-container {
  margin-bottom: 40px;
  width: 100%;
}
.banners__item-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: var(--white);
  margin-bottom: 49px;
  animation-delay: 0.3s;
  max-width: 353px;
}
@media (max-width: 400px) {
  .banners__item-description {
    margin-bottom: 20px;
  }
}
.banners__item-btns {
  animation-delay: 1s;
}
.banners__item-btns .btn {
  display: block;
}
.banners__item-btns .btn:not(:last-child) {
  margin-bottom: 8px;
}
.banners .slider__control svg path {
  fill: var(--white);
}
.banners .slider__control {
  display: none;
}
.banners_parallax {
  clip-path: inset(0 0 0 0);
  overflow: hidden;
}
.banners_parallax .banners__item {
  height: 400px;
  overflow: hidden;
}
.banners_parallax .banners__item-image {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-attachment: fixed;
}
.banners .swiper-horizontal>.swiper-pagination-bullets.swiper__slider-pagination{
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
}
@media (min-width: 376px) {
  .banners__item-title {
    font-size: 24px;
  }
}
@media (min-width: 450px) {
  .banners__item-title {
    font-size: 32px;
  }
}
@media (min-width: 1160px) {
  .banners__item-title {
    font-size: 64px;
    line-height: 112%;
  }
  .banners__item-description {
    font-size: 24px;
    line-height: 133%;
    max-width: 1024px;
  }
  .banners__item-content {
    align-items: flex-end;
  }
  .banners .banners__item-content .banners__item-container {
    margin-bottom: 120px;
  }
  .banners__item .btn {
    margin-right: 15px;
    margin-bottom: 0;
    display: inline-flex;
  }
  .banners .lSPager {
    bottom: 20px;
  }
  .banners_parallax .banners__item {
    height: 800px;
    height: 100vh;
  }
  .banners_parallax .banners__item-image {
    height: 100vh;
  }
}
@media (min-width: 1600px) {
  .banners .slider__control {
    display: flex;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2plY3RzL2NlbnRyc2h0b3IvY29tcG9uZW50cy9uZXdzLmxpc3QvYmFubmVycy9zdHlsZS5zY3NzIiwiY29yZS9hc3NldHMvc2Nzcy91dGlscy9fY29yZU1peGluLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUE7RUFHRTs7QUFDQTtFQUNFO0VBQ0E7RUFDQTs7QUFFRjtFQUNFO0VBQ0E7O0FBRUY7QUFBQTtFQUVFOztBQUVGO0VBQ0U7O0FBRUY7RUFDRTtFQUNBOztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUNKRjtFRERBO0lBY0k7OztBQUlKO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBR0Y7RUFJRTs7QUFFRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQy9CRjtFRHdCQTtJQVNJOzs7QUFHRjtFQUNFOztBQUlKO0VBQ0U7RUFDQTs7QUFHRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FDdERGO0VEOENBO0lBVUk7OztBQUdKO0VBQ0U7O0FBQ0E7RUFDRTs7QUFDQTtFQUNFOztBQUtSO0VBQ0U7O0FBRUY7RUFDRTs7QUFHRjtFQUNFO0VBQ0E7O0FBQ0E7RUFDRTtFQUNBOztBQUNBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUN0R0o7RUQ0R0U7SUFDRTs7O0FDN0dKO0VEbUhFO0lBQ0U7OztBQ3BISjtFRDBIRTtJQUNFO0lBQ0E7O0VBRUY7SUFDRTtJQUNBO0lBQ0E7O0VBRUY7SUFDRTs7RUFFRjtJQUNFOztFQUVGO0lBQ0U7SUFDQTtJQUNBOztFQUdKO0lBQ0U7O0VBR0E7SUFDRTs7RUFDQTtJQUNFOzs7QUN0Sk47RUQ0SkE7SUFDRSIsImZpbGUiOiJwcm9qZWN0cy9jZW50cnNodG9yL2NvbXBvbmVudHMvbmV3cy5saXN0L2Jhbm5lcnMvc3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAgXCIuLi8uLi8uLi9zY3NzL3V0aWxzL2NvcmVcIjtcblxuLmJhbm5lcnN7XG4gICRwYXJlbnQ6ICY7XG5cbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAubFNQYWdlcntcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgYm90dG9tOiAxMnB4O1xuICAgIHdpZHRoOiAxMDAlO1xuICB9XG4gIC5zbGlkZXJfX3dyYXBwZXIgLmxTU2xpZGVPdXRlciAubFNQYWdlci5sU3BnID4gbGkgIGF7XG4gICAgYmFja2dyb3VuZDogdmFyKC0td2hpdGUpO1xuICAgIG9wYWNpdHk6IDAuMjU7XG4gIH1cbiAgLnNsaWRlcl9fd3JhcHBlciAubFNTbGlkZU91dGVyIC5sU1BhZ2VyLmxTcGcgPiBsaS5hY3RpdmUgYSxcbiAgLnNsaWRlcl9fd3JhcHBlciAubFNTbGlkZU91dGVyIC5sU1BhZ2VyLmxTcGcgPiBsaTpob3ZlciBhIHtcbiAgICBvcGFjaXR5OiAxO1xuICB9XG4gIC5pcy1ub3QtaW5pdCAmX19pdGVtOm5vdCg6Zmlyc3QtY2hpbGQpe1xuICAgIGRpc3BsYXk6IG5vbmU7XG4gIH1cbiAgJl9faXRlbXtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gICAgJi1pbWFnZXtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxO1xuICAgICAgZm9udC1zaXplOiAwO1xuICAgICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gICAgICBoZWlnaHQ6IDEwMHZoO1xuICAgICAgLy9taW4taGVpZ2h0OiAzMDBweDtcblxuICAgICAgLy9pbWd7XG4gICAgICAvLyAgbWF4LXdpZHRoOiAxMDAlO1xuICAgICAgLy8gIG1pbi13aWR0aDogMTAwJTtcbiAgICAgIC8vICBoZWlnaHQ6IDEwMCU7XG4gICAgICAvL31cbiAgICAgIEBpbmNsdWRlIG1lZGlhUXVlcnlNaW4oMTQwMCl7XG4gICAgICAgIGhlaWdodDogY2FsYygxMDB2aCAtIDQ4cHgpO1xuICAgICAgfVxuICAgIH1cblxuICAgICYtY29udGVudHtcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gICAgICB0b3A6MDtcbiAgICAgIGJvdHRvbTogMDtcbiAgICAgIGxlZnQ6IDA7XG4gICAgICByaWdodDogMDtcbiAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgaGVpZ2h0OiAxMDAlO1xuICAgICAgZGlzcGxheTogZmxleDtcbiAgICAgIGFsaWduLWl0ZW1zOiBmbGV4LWVuZDtcbiAgICAgIC8vcGFkZGluZy1ib3R0b206IDUwcHg7XG4gICAgfVxuICAgICYtdGl0bGUsXG4gICAgJi1kZXNjcmlwdGlvbixcbiAgICAmLWJ0bnN7XG4gICAgICAvL2FuaW1hdGlvbi1kdXJhdGlvbjogMXM7XG4gICAgICAtLWFuaW1hdGUtZHVyYXRpb246IDFzO1xuICAgIH1cbiAgICAmLXRpdGxle1xuICAgICAgZm9udC13ZWlnaHQ6IDMwMDtcbiAgICAgIGZvbnQtc2l6ZTogMjJweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxNTAlO1xuICAgICAgbGV0dGVyLXNwYWNpbmc6IDAuMDVlbTtcbiAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgICBjb2xvcjogdmFyKC0td2hpdGUpO1xuICAgICAgbWFyZ2luLWJvdHRvbTogMThweDtcbiAgICAgIEBpbmNsdWRlIG1lZGlhUXVlcnlNYXgoNDAwKXtcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMTBweDtcbiAgICAgIH1cblxuICAgICAgc3BhbntcbiAgICAgICAgZm9udC13ZWlnaHQ6IDUwMDtcbiAgICAgIH1cbiAgICB9XG5cbiAgICAmLWNvbnRhaW5lcntcbiAgICAgIG1hcmdpbi1ib3R0b206IDQwcHg7XG4gICAgICB3aWR0aDogMTAwJTtcbiAgICB9XG5cbiAgICAmLWRlc2NyaXB0aW9ue1xuICAgICAgZm9udC13ZWlnaHQ6IDUwMDtcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxNTAlO1xuICAgICAgbGV0dGVyLXNwYWNpbmc6IDAuMDVlbTtcbiAgICAgIGNvbG9yOiB2YXIoLS13aGl0ZSk7XG4gICAgICBtYXJnaW4tYm90dG9tOiA0OXB4O1xuICAgICAgYW5pbWF0aW9uLWRlbGF5OiAuM3M7XG4gICAgICBtYXgtd2lkdGg6IDM1M3B4O1xuICAgICAgQGluY2x1ZGUgbWVkaWFRdWVyeU1heCg0MDApe1xuICAgICAgICBtYXJnaW4tYm90dG9tOiAyMHB4O1xuICAgICAgfVxuICAgIH1cbiAgICAmLWJ0bnN7XG4gICAgICBhbmltYXRpb24tZGVsYXk6IDFzO1xuICAgICAgLmJ0bntcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICAgICY6bm90KDpsYXN0LWNoaWxkKXtcbiAgICAgICAgICBtYXJnaW4tYm90dG9tOiA4cHg7XG4gICAgICAgIH1cbiAgICAgIH1cbiAgICB9XG4gIH1cbiAgLnNsaWRlcl9fY29udHJvbCBzdmcgcGF0aHtcbiAgICBmaWxsOiB2YXIoLS13aGl0ZSk7XG4gIH1cbiAgLnNsaWRlcl9fY29udHJvbHtcbiAgICBkaXNwbGF5OiBub25lO1xuICB9XG5cbiAgJl9wYXJhbGxheHtcbiAgICBjbGlwLXBhdGg6IGluc2V0KDAgMCAwIDApO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG4gICAgI3skcGFyZW50fV9faXRlbSB7XG4gICAgICBoZWlnaHQ6IDQwMHB4O1xuICAgICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICAgICYtaW1hZ2V7XG4gICAgICAgIGhlaWdodDogMTAwJTtcbiAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgICB0b3A6IDA7XG4gICAgICAgIGxlZnQ6IDA7XG4gICAgICAgIHJpZ2h0OiAwO1xuICAgICAgICBib3R0b206IDA7XG4gICAgICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gICAgICAgIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XG4gICAgICB9XG4gICAgfVxuICB9XG4gIEBpbmNsdWRlIG1lZGlhUXVlcnlNaW4oMzc2KSB7XG4gICAgJl9faXRlbSB7XG4gICAgICAmLXRpdGxlIHtcbiAgICAgICAgZm9udC1zaXplOiAyNHB4O1xuICAgICAgfVxuICAgIH1cbiAgfVxuICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWluKDQ1MCkge1xuICAgICZfX2l0ZW0ge1xuICAgICAgJi10aXRsZSB7XG4gICAgICAgIGZvbnQtc2l6ZTogMzJweDtcbiAgICAgIH1cbiAgICB9XG4gIH1cbiAgQGluY2x1ZGUgbWVkaWFRdWVyeU1pbigkbWVkaWFRdWVyeU1pbkRlc2t0b3BCcmVha1BvaW50KXtcbiAgICAmX19pdGVtIHtcbiAgICAgICYtdGl0bGUge1xuICAgICAgICBmb250LXNpemU6IDY0cHg7XG4gICAgICAgIGxpbmUtaGVpZ2h0OiAxMTIlO1xuICAgICAgfVxuICAgICAgJi1kZXNjcmlwdGlvbiB7XG4gICAgICAgIGZvbnQtc2l6ZTogMjRweDtcbiAgICAgICAgbGluZS1oZWlnaHQ6IDEzMyU7XG4gICAgICAgIG1heC13aWR0aDogMTAyNHB4O1xuICAgICAgfVxuICAgICAgJi1jb250ZW50e1xuICAgICAgICBhbGlnbi1pdGVtczogZmxleC1lbmQ7XG4gICAgICB9XG4gICAgICAmLWNvbnRhaW5lcntcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMTIwcHg7XG4gICAgICB9XG4gICAgICAuYnRuIHtcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAxNXB4O1xuICAgICAgICBtYXJnaW4tYm90dG9tOiAwO1xuICAgICAgICBkaXNwbGF5OiBpbmxpbmUtZmxleDtcbiAgICAgIH1cbiAgICB9XG4gICAgLmxTUGFnZXJ7XG4gICAgICBib3R0b206IDIwcHg7XG4gICAgfVxuICAgICZfcGFyYWxsYXh7XG4gICAgICAjeyRwYXJlbnR9X19pdGVtIHtcbiAgICAgICAgaGVpZ2h0OiA4MDBweDtcbiAgICAgICAgJi1pbWFnZSB7XG4gICAgICAgICAgaGVpZ2h0OiAxMDB2aDtcbiAgICAgICAgfVxuICAgICAgfVxuICAgIH1cbiAgfVxuICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWluKDE2MDApe1xuICAgIC5zbGlkZXJfX2NvbnRyb2x7XG4gICAgICBkaXNwbGF5OiBibG9jaztcbiAgICB9XG4gIH1cbn1cbiIsIkB1c2UgXCJzYXNzOm1hcFwiO1xuQHVzZSBcInNhc3M6bWF0aFwiO1xuXG5AbWl4aW4gc2V0U3ZnSWNvblNpemVCeVdpZHRoKCR3aWR0aCwgJGljb25OYW1lKXtcbiAgJHN2Z0ljb246IG1hcF9nZXQoJHN2Z0ljb25zTGlzdCwgJGljb25OYW1lKTtcbiAgJHByb3BvcnRpb246IG1hcF9nZXQoJHN2Z0ljb24sICdwcm9wb3J0aW9uJyk7XG5cbiAgd2lkdGg6ICN7JHdpZHRofXB4O1xuICBoZWlnaHQ6ICN7JHdpZHRoKiRwcm9wb3J0aW9ufXB4O1xufVxuXG5AbWl4aW4gcG9zQWJzQ2VudGVyKCR3LCAkaCl7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOjUwJTtcbiAgbGVmdDo1MCU7XG4gIGhlaWdodDogJGg7XG4gIHdpZHRoOiAkdztcbiAgbWFyZ2luLXRvcDotIG1hdGguZGl2KCRoLCAyKTtcbiAgbWFyZ2luLWxlZnQ6LSBtYXRoLmRpdigkdywgMik7XG59XG5cbkBtaXhpbiBtZWRpYVF1ZXJ5TWluKCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxuICBcbn1cbkBtaXhpbiBtZWRpYVF1ZXJ5TWF4KCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxufVxuQG1peGluIG1lZGlhUXVlcnlCZWV0d2VlbigkYnJlYWtwb2ludEZyb20sICRicmVha3BvaW50VG8pIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSkgYW5kIG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZSBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pKXtcbiAgICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnRUb31weCl7XG4gICAgICAgIEBjb250ZW50O1xuICAgICAgfVxuICB9QGVsc2UgaWYgKG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50RnJvbX1weCkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZXtcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogI3skYnJlYWtwb2ludEZyb219cHgpIGFuZCAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50VG99cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG4gIFxufVxuXG5AbWl4aW4gaXNGbGV4KCRkaXNwbGF5OiBmbGV4LCAkYWxpZ246IGNlbnRlciwgJGp1c3RpZnlDb250ZW50OiBzcGFjZS1iZXR3ZWVuKSB7XG4gIGRpc3BsYXk6ICRkaXNwbGF5O1xuICBhbGlnbi1pdGVtczogJGFsaWduO1xuICBqdXN0aWZ5LWNvbnRlbnQ6ICRqdXN0aWZ5Q29udGVudDtcbiAgQGNvbnRlbnQ7XG59XG5cbkBtaXhpbiBpY29uKFxuICAkaWNvblBhdGg6Jy4uL2ltZy9pY29uLnBuZycsXG4gICR3OjIwcHgsXG4gICRoOjIwcHgsXG4gICRwc2V1ZG86IGJlZm9yZSxcbiAgJGJwb3M6IDUwJSA1MCUsXG4gICRic2l6ZTogY292ZXJcbil7XG4gICY6I3skcHNldWRvfXtcbiAgICBjb250ZW50OiAnJztcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgd2lkdGg6ICR3O1xuICAgIGhlaWdodDogJGg7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCRpY29uUGF0aCk7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAkYnBvcztcbiAgICBiYWNrZ3JvdW5kLXNpemU6ICRic2l6ZTtcbiAgICBAY29udGVudDtcbiAgfVxufVxuQG1peGluIHN2Z19pY29uKCRuYW1lOiBjYWxlbmRhcl95ZWxsb3csICRpbWdQYXRoOicuLi9pbWcnLCAkdzoyMHB4LCAkaDoyMHB4LCAkcHNldWRvOiBiZWZvcmUsICRicG9zOiA1MCUgNTAlLCAkYnNpemU6IGNvdmVyKXtcbiAgQGluY2x1ZGUgaWNvbihcbiAgICAkaWNvblBhdGg6ICRpbWdQYXRoICsgJy9zdmdfc3ByaXRlLnN2ZyMnKyAkbmFtZSxcbiAgICAkdzokdyxcbiAgICAkaDokaCxcbiAgICAkcHNldWRvOiAkcHNldWRvLFxuICAgICRicG9zOiAkYnBvcyxcbiAgICAkYnNpemU6ICRic2l6ZVxuICApe1xuICAgIEBjb250ZW50O1xuICB9O1xufVxuQG1peGluIGxvYWRlcigkaW1nUGF0aDonLi4vaW1nJywgJHc6MjBweCwgJGg6MjBweCwgJHBzZXVkbzogYmVmb3JlKXtcbiAgJjojeyRwc2V1ZG99e1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB3aWR0aDogJHc7XG4gICAgaGVpZ2h0OiAkaDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJGltZ1BhdGggKyAnL2xvYWRlci5naWYnKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IDUwJSA1MCU7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIHRyYW5zaXRpb24oJHByb3BlcnR5OiBhbGwsICR0aW1lOiAzMDBtcywgJGVmZmVjdDpjdWJpYy1iZXppZXIoMC4yNSwgMC44LCAwLjI1LCAxKSl7XG4gICAgdHJhbnNpdGlvbjogJHByb3BlcnR5ICR0aW1lICRlZmZlY3Q7XG4gICAgLXdlYmtpdC10cmFuc2l0aW9uOiAkcHJvcGVydHkgJHRpbWUgJGVmZmVjdDtcbiAgICAtbW96LXRyYW5zaXRpb246ICRwcm9wZXJ0eSAkdGltZSAkZWZmZWN0O1xufVxuQG1peGluIHBsYWNlaG9sZGVyKCl7XG4gICY6Oi13ZWJraXQtaW5wdXQtcGxhY2Vob2xkZXIgeyBAY29udGVudDsgfVxuICAmOi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6Oi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6OnBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbn1cbkBtaXhpbiBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3Ipe1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAkdG9Db2xvcjsgLyogRmFsbGJhY2sgQ29sb3IgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1ncmFkaWVudChsaW5lYXIsICRkaXJlY3Rpb24sIGZyb20oJGZyb21Db2xvciksIHRvKCR0b0NvbG9yKSk7IC8qIFNhZjQrLCBDaHJvbWUgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBDaHJvbWUgMTArLCBTYWY1LjErLCBpT1MgNSsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgLW1vei1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBGRjMuNiAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgLW1zLWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIElFMTAgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAtby1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBPcGVyYSAxMS4xMCsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAgICBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpO1xuICBmaWx0ZXI6IHByb2dpZDpEWEltYWdlVHJhbnNmb3JtLk1pY3Jvc29mdC5ncmFkaWVudChHcmFkaWVudFR5cGU9MSxTdGFydENvbG9yU3RyPScjeyRmcm9tQ29sb3J9JywgRW5kQ29sb3JTdHI9JyN7JHRvQ29sb3J9Jyk7XG59XG5cbkBtaXhpbiAgQW5pbWF0ZWRCYWNrZ3JvdW5kTG9hZCgkaDogYXV0bywgJGJyYWRpdXM6MjBweCl7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIGhlaWdodDogJGg7XG4gIGJvcmRlci1yYWRpdXM6ICRicmFkaXVzO1xuICBiYWNrZ3JvdW5kOiAjZjNmM2YzIGxpbmVhci1ncmFkaWVudCh0byByaWdodCwjZjNmM2YzIDUlLCNlZWUgMjAlLCNmM2YzZjMgMzUlKTtcbiAgYW5pbWF0aW9uOiBwbGFjZWhvbGRlclNoaW1tZXIgMnMgbGluZWFyIDBzIGluZmluaXRlIG5vcm1hbCBmb3J3YXJkcztcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gICY6YWZ0ZXJ7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwO1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGJhY2tncm91bmQ6ICNmZmY7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAwO1xuICB9XG59Il19 */
