.reviews .title {
  margin-bottom: 67px;
}
.reviews .title__postfix {
  margin-top: -64px;
  margin-left: -95px;
}
.reviews .slider__wrapper .container {
  margin-bottom: 70px;
}
.reviews__item {
  text-decoration: none;
}
.reviews__item-author, .reviews__item-stars {
  text-align: center;
}
.reviews__item-author {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: var(--black);
  margin-bottom: 33px;
}
.reviews__item-stars {
  position: relative;
  margin-bottom: 22px;
  width: 120px;
  height: 24px;
}
.reviews__item-stars:before {
  opacity: 0.4;
}
.reviews__item-stars .rating{
  background-image: url(/bitrix/templates/appsweb/img/sprite/stars_active.png);
  position: absolute;
  top: 0;
  left: 0;
}
.reviews__item-stars .rating, .reviews__item-stars:before {
  width: 100%;
  height: 100%;
  background-image: url(../images/stars.png);
}
.reviews__item-stars, .reviews__item-stars:before {
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__item-stars:before {
  content: "";
  display: block;
}
.reviews__item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  height: 544px;
  max-width: 100%;
  transition: all 5000ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 5000ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 5000ms cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 10px;
}
.reviews__item-image:hover {
  background-size: 130%;
  animation: animatedScaleFourSideBackground 5000ms infinite;
  -webkit-animation: animatedScaleFourSideBackground 5000ms infinite;
  -moz-animation: animatedScaleFourSideBackground 5000ms infinite;
}
.reviews__item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.reviews__item-attach {
  margin-top: 34px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}
.reviews .slider__control {
  top: 50px;
  background: var(--white);
}
@media (min-width: 404px) {
  .reviews .title__postfix {
    margin-top: -2px;
  }
}
@media (min-width: 1160px) {
  .reviews .title {
    margin-bottom: 115px;
  }
  .reviews .title__postfix {
    margin-top: -20px;
  }
  .reviews__item-author, .reviews__item-stars {
    text-align: left;
  }
  .reviews .slider__wrapper .container {
    margin-bottom: 120px;
  }
  .reviews .slider__control {
    top: 50%;
  }
  .reviews__item-attach {
    display: block;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2plY3RzL2NlbnRyc2h0b3IvY29tcG9uZW50cy9uZXdzLmxpc3QvcmV2aWV3cy9zdHlsZS5zY3NzIiwiY29yZS9hc3NldHMvc2Nzcy91dGlscy9fY29yZU1peGluLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBR0U7RUFDRTs7QUFDQTtFQUNFO0VBQ0E7O0FBSUY7RUFDRTs7QUFHSjtFQUNFOztBQUNBO0VBQ0U7O0FBRUY7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFRjtFQUNFOztBQUVGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VDa0ZGO0VBQ0E7RUFDQTtFRGxGRTs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBOztBQUdKO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFRjtFQUNFOztBQUdKO0VBQ0U7RUFDQTs7QUNuQ0E7RUR3Q0U7SUFDRTs7O0FDekNKO0VEOENBO0lBQ0U7O0VBQ0E7SUFDRTs7RUFLRjtJQUNFOztFQUlGO0lBQ0U7O0VBR0o7SUFDRSIsImZpbGUiOiJwcm9qZWN0cy9jZW50cnNodG9yL2NvbXBvbmVudHMvbmV3cy5saXN0L3Jldmlld3Mvc3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAgXCIuLi8uLi8uLi9zY3NzL3V0aWxzL2NvcmVcIjtcblxuLnJldmlld3N7XG4gIC50aXRsZXtcbiAgICBtYXJnaW4tYm90dG9tOiA2N3B4O1xuICAgICZfX3Bvc3RmaXh7XG4gICAgICBtYXJnaW4tdG9wOiAtNjRweDtcbiAgICAgIG1hcmdpbi1sZWZ0OiAtOTVweDtcbiAgICB9XG4gIH1cbiAgLnNsaWRlcl9fd3JhcHBlcntcbiAgICAuY29udGFpbmVye1xuICAgICAgbWFyZ2luLWJvdHRvbTogNzBweDtcbiAgICB9XG4gIH1cbiAgJl9faXRlbXtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgJi1hdXRob3IsICYtc3RhcnN7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgfVxuICAgICYtYXV0aG9ye1xuICAgICAgZm9udC1mYW1pbHk6IHZhcigtLWZvbnQtZmFtaWx5KTtcbiAgICAgIGZvbnQtd2VpZ2h0OiA1MDA7XG4gICAgICBmb250LXNpemU6IDI0cHg7XG4gICAgICBsaW5lLWhlaWdodDogMTMzJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjA1ZW07XG4gICAgICBjb2xvcjogdmFyKC0tYmxhY2spO1xuICAgICAgbWFyZ2luLWJvdHRvbTogMzNweDtcbiAgICB9XG4gICAgJi1zdGFyc3tcbiAgICAgIG1hcmdpbi1ib3R0b206IDIycHg7XG4gICAgfVxuICAgICYtaW1hZ2V7XG4gICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICAgICAgd2lkdGg6IDMwMnB4O1xuICAgICAgaGVpZ2h0OiA1NDRweDtcbiAgICAgIG1heC13aWR0aDogMTAwJTtcbiAgICAgIEBpbmNsdWRlIHRyYW5zaXRpb24oJHRpbWU6IDUwMDBtcyk7XG4gICAgICBtYXJnaW4tYm90dG9tOiAxMHB4O1xuXG4gICAgICAmOmhvdmVye1xuICAgICAgICBiYWNrZ3JvdW5kLXNpemU6IDEzMCU7XG4gICAgICAgIGFuaW1hdGlvbjogYW5pbWF0ZWRTY2FsZUZvdXJTaWRlQmFja2dyb3VuZCA1MDAwbXMgaW5maW5pdGU7XG4gICAgICAgIC13ZWJraXQtYW5pbWF0aW9uOiBhbmltYXRlZFNjYWxlRm91clNpZGVCYWNrZ3JvdW5kIDUwMDBtcyBpbmZpbml0ZTtcbiAgICAgICAgLW1vei1hbmltYXRpb246IGFuaW1hdGVkU2NhbGVGb3VyU2lkZUJhY2tncm91bmQgNTAwMG1zIGluZmluaXRlO1xuICAgICAgfVxuICAgIH1cbiAgICAmLXRleHR7XG4gICAgICBmb250LWZhbWlseTogdmFyKC0tZm9udC1mYW1pbHkpO1xuICAgICAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxNTAlO1xuICAgICAgY29sb3I6IHZhcigtLWJsYWNrKTtcbiAgICB9XG4gICAgJi1hdHRhY2h7XG4gICAgICBtYXJnaW4tdG9wOiAzNHB4O1xuICAgIH1cbiAgfVxuICAuc2xpZGVyX19jb250cm9se1xuICAgIHRvcDogNTBweDtcbiAgICBiYWNrZ3JvdW5kOiB2YXIoLS13aGl0ZSk7XG4gIH1cblxuICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWluKDQwNCl7XG4gICAgLnRpdGxle1xuICAgICAgJl9fcG9zdGZpeHtcbiAgICAgICAgbWFyZ2luLXRvcDogLTJweDtcbiAgICAgIH1cbiAgICB9XG4gIH1cbiAgQGluY2x1ZGUgbWVkaWFRdWVyeU1pbigkbWVkaWFRdWVyeU1pbkRlc2t0b3BCcmVha1BvaW50KXtcbiAgICAudGl0bGV7XG4gICAgICBtYXJnaW4tYm90dG9tOiAxMTVweDtcbiAgICAgICZfX3Bvc3RmaXh7XG4gICAgICAgIG1hcmdpbi10b3A6IC0yMHB4O1xuICAgICAgICAvL21hcmdpbi1sZWZ0OiAtOTVweDtcbiAgICAgIH1cbiAgICB9XG4gICAgJl9faXRlbSB7XG4gICAgICAmLWF1dGhvciwgJi1zdGFycyB7XG4gICAgICAgIHRleHQtYWxpZ246IGxlZnQ7XG4gICAgICB9XG4gICAgfVxuICAgIC5zbGlkZXJfX3dyYXBwZXJ7XG4gICAgICAuY29udGFpbmVye1xuICAgICAgICBtYXJnaW4tYm90dG9tOiAxMjBweDtcbiAgICAgIH1cbiAgICB9XG4gICAgLnNsaWRlcl9fY29udHJvbHtcbiAgICAgIHRvcDogNTAlO1xuICAgIH1cbiAgfVxufSIsIkB1c2UgXCJzYXNzOm1hcFwiO1xuQHVzZSBcInNhc3M6bWF0aFwiO1xuXG5AbWl4aW4gc2V0U3ZnSWNvblNpemVCeVdpZHRoKCR3aWR0aCwgJGljb25OYW1lKXtcbiAgJHN2Z0ljb246IG1hcF9nZXQoJHN2Z0ljb25zTGlzdCwgJGljb25OYW1lKTtcbiAgJHByb3BvcnRpb246IG1hcF9nZXQoJHN2Z0ljb24sICdwcm9wb3J0aW9uJyk7XG5cbiAgd2lkdGg6ICN7JHdpZHRofXB4O1xuICBoZWlnaHQ6ICN7JHdpZHRoKiRwcm9wb3J0aW9ufXB4O1xufVxuXG5AbWl4aW4gcG9zQWJzQ2VudGVyKCR3LCAkaCl7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOjUwJTtcbiAgbGVmdDo1MCU7XG4gIGhlaWdodDogJGg7XG4gIHdpZHRoOiAkdztcbiAgbWFyZ2luLXRvcDotIG1hdGguZGl2KCRoLCAyKTtcbiAgbWFyZ2luLWxlZnQ6LSBtYXRoLmRpdigkdywgMik7XG59XG5cbkBtaXhpbiBtZWRpYVF1ZXJ5TWluKCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxuICBcbn1cbkBtaXhpbiBtZWRpYVF1ZXJ5TWF4KCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxufVxuQG1peGluIG1lZGlhUXVlcnlCZWV0d2VlbigkYnJlYWtwb2ludEZyb20sICRicmVha3BvaW50VG8pIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSkgYW5kIG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZSBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pKXtcbiAgICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnRUb31weCl7XG4gICAgICAgIEBjb250ZW50O1xuICAgICAgfVxuICB9QGVsc2UgaWYgKG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50RnJvbX1weCkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZXtcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogI3skYnJlYWtwb2ludEZyb219cHgpIGFuZCAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50VG99cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG4gIFxufVxuXG5AbWl4aW4gaXNGbGV4KCRkaXNwbGF5OiBmbGV4LCAkYWxpZ246IGNlbnRlciwgJGp1c3RpZnlDb250ZW50OiBzcGFjZS1iZXR3ZWVuKSB7XG4gIGRpc3BsYXk6ICRkaXNwbGF5O1xuICBhbGlnbi1pdGVtczogJGFsaWduO1xuICBqdXN0aWZ5LWNvbnRlbnQ6ICRqdXN0aWZ5Q29udGVudDtcbiAgQGNvbnRlbnQ7XG59XG5cbkBtaXhpbiBpY29uKFxuICAkaWNvblBhdGg6Jy4uL2ltZy9pY29uLnBuZycsXG4gICR3OjIwcHgsXG4gICRoOjIwcHgsXG4gICRwc2V1ZG86IGJlZm9yZSxcbiAgJGJwb3M6IDUwJSA1MCUsXG4gICRic2l6ZTogY292ZXJcbil7XG4gICY6I3skcHNldWRvfXtcbiAgICBjb250ZW50OiAnJztcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgd2lkdGg6ICR3O1xuICAgIGhlaWdodDogJGg7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCRpY29uUGF0aCk7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAkYnBvcztcbiAgICBiYWNrZ3JvdW5kLXNpemU6ICRic2l6ZTtcbiAgICBAY29udGVudDtcbiAgfVxufVxuQG1peGluIHN2Z19pY29uKCRuYW1lOiBjYWxlbmRhcl95ZWxsb3csICRpbWdQYXRoOicuLi9pbWcnLCAkdzoyMHB4LCAkaDoyMHB4LCAkcHNldWRvOiBiZWZvcmUsICRicG9zOiA1MCUgNTAlLCAkYnNpemU6IGNvdmVyKXtcbiAgQGluY2x1ZGUgaWNvbihcbiAgICAkaWNvblBhdGg6ICRpbWdQYXRoICsgJy9zdmdfc3ByaXRlLnN2ZyMnKyAkbmFtZSxcbiAgICAkdzokdyxcbiAgICAkaDokaCxcbiAgICAkcHNldWRvOiAkcHNldWRvLFxuICAgICRicG9zOiAkYnBvcyxcbiAgICAkYnNpemU6ICRic2l6ZVxuICApe1xuICAgIEBjb250ZW50O1xuICB9O1xufVxuQG1peGluIGxvYWRlcigkaW1nUGF0aDonLi4vaW1nJywgJHc6MjBweCwgJGg6MjBweCwgJHBzZXVkbzogYmVmb3JlKXtcbiAgJjojeyRwc2V1ZG99e1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB3aWR0aDogJHc7XG4gICAgaGVpZ2h0OiAkaDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJGltZ1BhdGggKyAnL2xvYWRlci5naWYnKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IDUwJSA1MCU7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIHRyYW5zaXRpb24oJHByb3BlcnR5OiBhbGwsICR0aW1lOiAzMDBtcywgJGVmZmVjdDpjdWJpYy1iZXppZXIoMC4yNSwgMC44LCAwLjI1LCAxKSl7XG4gICAgdHJhbnNpdGlvbjogJHByb3BlcnR5ICR0aW1lICRlZmZlY3Q7XG4gICAgLXdlYmtpdC10cmFuc2l0aW9uOiAkcHJvcGVydHkgJHRpbWUgJGVmZmVjdDtcbiAgICAtbW96LXRyYW5zaXRpb246ICRwcm9wZXJ0eSAkdGltZSAkZWZmZWN0O1xufVxuQG1peGluIHBsYWNlaG9sZGVyKCl7XG4gICY6Oi13ZWJraXQtaW5wdXQtcGxhY2Vob2xkZXIgeyBAY29udGVudDsgfVxuICAmOi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6Oi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6OnBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbn1cbkBtaXhpbiBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3Ipe1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAkdG9Db2xvcjsgLyogRmFsbGJhY2sgQ29sb3IgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1ncmFkaWVudChsaW5lYXIsICRkaXJlY3Rpb24sIGZyb20oJGZyb21Db2xvciksIHRvKCR0b0NvbG9yKSk7IC8qIFNhZjQrLCBDaHJvbWUgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBDaHJvbWUgMTArLCBTYWY1LjErLCBpT1MgNSsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgLW1vei1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBGRjMuNiAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgLW1zLWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIElFMTAgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAtby1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBPcGVyYSAxMS4xMCsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAgICBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpO1xuICBmaWx0ZXI6IHByb2dpZDpEWEltYWdlVHJhbnNmb3JtLk1pY3Jvc29mdC5ncmFkaWVudChHcmFkaWVudFR5cGU9MSxTdGFydENvbG9yU3RyPScjeyRmcm9tQ29sb3J9JywgRW5kQ29sb3JTdHI9JyN7JHRvQ29sb3J9Jyk7XG59XG5cbkBtaXhpbiAgQW5pbWF0ZWRCYWNrZ3JvdW5kTG9hZCgkaDogYXV0bywgJGJyYWRpdXM6MjBweCl7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIGhlaWdodDogJGg7XG4gIGJvcmRlci1yYWRpdXM6ICRicmFkaXVzO1xuICBiYWNrZ3JvdW5kOiAjZjNmM2YzIGxpbmVhci1ncmFkaWVudCh0byByaWdodCwjZjNmM2YzIDUlLCNlZWUgMjAlLCNmM2YzZjMgMzUlKTtcbiAgYW5pbWF0aW9uOiBwbGFjZWhvbGRlclNoaW1tZXIgMnMgbGluZWFyIDBzIGluZmluaXRlIG5vcm1hbCBmb3J3YXJkcztcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gICY6YWZ0ZXJ7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwO1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGJhY2tncm91bmQ6ICNmZmY7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAwO1xuICB9XG59Il19 */
