.textilies .title {
  margin-bottom: 40px;
}
.is-not-init .textilies__item:not(:first-child) {
  display: none;
}
.textilies__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
}
.textilies__item-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 312px;
}
.textilies__item-image-box, .textilies__item-content {
  width: 100%;
}
.textilies__item-content {
  display: flex;
  justify-content: flex-end;
}
.textilies__item-content-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 56px 24px 0;
  box-sizing: border-box;
  width: 100%;
}
.textilies__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 5px;
}
.textilies__item-material {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 28px;
}
.textilies__item-description {
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  height: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 49px;
}
@media (max-width: 600px) {
  .textilies__item-description {
    display: none;
  }
}
.textilies__item-btns {
  text-align: center;
}
@media (max-width: 600px) {
  .textilies__item-btns {
    display: none;
  }
}
.textilies__item-btns .btn {
  display: inline-flex;
  width: auto;
  padding-left: 55px;
  padding-right: 55px;
}
.textilies__item-content_mobile .textilies__item-btns {
  display: none;
}
@media (max-width: 600px) {
  .textilies__item-content_mobile .textilies__item-btns {
    padding: 40px 0;
    display: block;
  }
}
.textilies .slider__control {
  top: 100%;
  margin-top: -97px;
}
.textilies .slider__wrapper .lSSlideOuter .lSPager.lSpg {
  margin: 0;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}
.textilies .slider__wrapper .lSSlideOuter .lSPager.lSpg a {
  background: var(--white);
  opacity: 0.4;
}
.textilies .slider__wrapper .lSSlideOuter .lSPager.lSpg li.active a {
  background: var(--white);
  opacity: 1;
}
@media (min-width: 1160px) {
  .textilies {
    flex-direction: row;
  }
  .textilies__item {
    flex-direction: row;
  }
  .textilies__item-image {
    min-height: 817px;
    height: 100%;
  }
  .textilies__item-image-box, .textilies__item-content {
    width: 50%;
  }
  .textilies__item-content-inner {
    padding: 157px 42px 80px 50px;
  }
  .textilies__item-title {
    font-size: 42px;
    margin-bottom: 5px;
  }
  .textilies__item-btns {
    text-align: left;
  }
  .textilies .slider__control_next svg path {
    fill: var(--white);
  }
  .textilies .slider__wrapper .lSSlideOuter .lSPager.lSpg {
    margin: 0 24px 0 0;
    right: 50%;
    width: auto;
    text-align: left;
  }
  .textilies .slider__wrapper .lSSlideOuter .lSPager.lSpg a {
    background: var(--transparent);
    opacity: 1;
  }
  .textilies .slider__wrapper .lSSlideOuter .lSPager.lSpg li.active a {
    background: var(--green);
  }
  .textilies .title__span > * {
    font-size: 54px;
  }
  .textilies .slider__control {
    top: 100%;
    margin-top: -84px;
  }
}
@media (min-width: 1600px) {
  .textilies__item-content-inner {
    padding: 157px 128px 80px 0;
    max-width: 656px;
  }
  .textilies .title__span > * {
    font-size: 64px;
  }
  .textilies .slider__control {
    top: 50%;
    margin-top: -40px;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2plY3RzL2NlbnRyc2h0b3IvY29tcG9uZW50cy9uZXdzLmxpc3QvdGV4dGlsaWVzL3N0eWxlLnNjc3MiLCJjb3JlL2Fzc2V0cy9zY3NzL3V0aWxzL19jb3JlTWl4aW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHRTtFQUNFOztBQUVGO0VBQ0U7O0FBRUY7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBOztBQUlGO0VBRUU7O0FBRUY7RUFDRTtFQUNBOztBQUNBO0VBQ0U7RUFDQTtFQUNBO0VBRUE7RUFDQTtFQUNBOztBQUlKO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBRUY7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUNoQ0Y7RURvQkE7SUFjSTs7O0FBR0o7RUFDRTs7QUN0Q0Y7RURxQ0E7SUFHSTs7O0FBRUY7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFJTjtFQUNFOztBQ25EQTtFRGtERjtJQUdJO0lBQ0E7OztBQUdKO0VBRUU7RUFDQTs7QUFHRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBQ0E7RUFDRTtFQUNBOztBQUVGO0VBQ0U7RUFDQTs7QUN2RkY7RUR6Qko7SUFvSEk7O0VBQ0E7SUFDRTs7RUFDQTtJQUNFOztFQUVGO0lBRUU7O0VBR0E7SUFDRTs7RUFHSjtJQUNFO0lBQ0E7O0VBRUY7SUFDRTs7RUFHSjtJQUNFOztFQUVGO0lBQ0U7SUFDQTtJQUNBO0lBQ0E7O0VBQ0E7SUFDRTtJQUNBOztFQUVGO0lBQ0U7O0VBR0o7SUFDRTs7RUFFRjtJQUNFO0lBQ0E7OztBQ3ZJRjtFRDhJSTtJQUNFO0lBQ0E7O0VBSU47SUFDRTs7RUFFRjtJQUNFO0lBQ0EiLCJmaWxlIjoicHJvamVjdHMvY2VudHJzaHRvci9jb21wb25lbnRzL25ld3MubGlzdC90ZXh0aWxpZXMvc3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAgXCIuLi8uLi8uLi9zY3NzL3V0aWxzL2NvcmVcIjtcblxuLnRleHRpbGllc3tcbiAgLnRpdGxle1xuICAgIG1hcmdpbi1ib3R0b206IDQwcHg7XG4gIH1cbiAgLmlzLW5vdC1pbml0ICZfX2l0ZW06bm90KDpmaXJzdC1jaGlsZCl7XG4gICAgZGlzcGxheTogbm9uZTtcbiAgfVxuICAmX19pdGVte1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gICAgJi1pbWFnZXtcbiAgICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gICAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICBoZWlnaHQ6IDMxMnB4O1xuICAgIH1cblxuXG4gICAgJi1pbWFnZS1ib3gsXG4gICAgJi1jb250ZW50e1xuICAgICAgd2lkdGg6IDEwMCU7XG4gICAgfVxuICAgICYtY29udGVudHtcbiAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGZsZXgtZW5kO1xuICAgICAgJi1pbm5lcntcbiAgICAgICAgZGlzcGxheTogZmxleDtcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgICAgIC8vcGFkZGluZzogNTZweCAyNHB4O1xuICAgICAgICBwYWRkaW5nOiA1NnB4IDI0cHggMDtcbiAgICAgICAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICB9XG4gICAgfVxuXG4gICAgJi10aXRsZXtcbiAgICAgIGZvbnQtd2VpZ2h0OiA1MDA7XG4gICAgICBmb250LXNpemU6IDI0cHg7XG4gICAgICBsaW5lLWhlaWdodDogMTMzJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjA1ZW07XG4gICAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICAgICAgY29sb3I6IHZhcigtLWJsYWNrKTtcbiAgICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgICB9XG4gICAgJi1tYXRlcmlhbHtcbiAgICAgIGZvbnQtd2VpZ2h0OiA0MDA7XG4gICAgICBmb250LXNpemU6IDE2cHg7XG4gICAgICBsaW5lLWhlaWdodDogMjAwJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjFlbTtcbiAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgICBjb2xvcjogIzAwMDtcbiAgICAgIG1hcmdpbi1ib3R0b206IDI4cHg7XG4gICAgfVxuICAgICYtZGVzY3JpcHRpb257XG4gICAgICBkaXNwbGF5OiAtd2Via2l0LWJveDtcbiAgICAgIG1heC13aWR0aDogNDAwcHg7XG4gICAgICAtd2Via2l0LWxpbmUtY2xhbXA6IDY7XG4gICAgICAtd2Via2l0LWJveC1vcmllbnQ6IHZlcnRpY2FsO1xuICAgICAgaGVpZ2h0OiAxNDRweDtcbiAgICAgIG92ZXJmbG93OiBoaWRkZW47XG4gICAgICB0ZXh0LW92ZXJmbG93OiBlbGxpcHNpcztcbiAgICAgIGZvbnQtd2VpZ2h0OiA0MDA7XG4gICAgICBmb250LXNpemU6IDE2cHg7XG4gICAgICBsaW5lLWhlaWdodDogMTUwJTtcbiAgICAgIGNvbG9yOiAjMDAwO1xuICAgICAgbWFyZ2luLWJvdHRvbTogNDlweDtcbiAgICAgIEBpbmNsdWRlIG1lZGlhUXVlcnlNYXgoNjAwKXtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgIH1cbiAgICB9XG4gICAgJi1idG5ze1xuICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgQGluY2x1ZGUgbWVkaWFRdWVyeU1heCg2MDApe1xuICAgICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgfVxuICAgICAgLmJ0bntcbiAgICAgICAgZGlzcGxheTogaW5saW5lLWZsZXg7XG4gICAgICAgIHdpZHRoOiBhdXRvO1xuICAgICAgICBwYWRkaW5nLWxlZnQ6IDU1cHg7XG4gICAgICAgIHBhZGRpbmctcmlnaHQ6IDU1cHg7XG4gICAgICB9XG4gICAgfVxuICB9XG4gICZfX2l0ZW0tY29udGVudF9tb2JpbGUgJl9faXRlbS1idG5ze1xuICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgQGluY2x1ZGUgbWVkaWFRdWVyeU1heCg2MDApe1xuICAgICAgcGFkZGluZzogNDBweCAwO1xuICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgfVxuICB9XG4gIC5zbGlkZXJfX2NvbnRyb2wge1xuICAgIC8vdG9wOiA1MTJweDtcbiAgICB0b3A6IDEwMCU7XG4gICAgbWFyZ2luLXRvcDogLTk3cHg7XG4gIH1cblxuICAuc2xpZGVyX193cmFwcGVyIC5sU1NsaWRlT3V0ZXIgLmxTUGFnZXIubFNwZyB7XG4gICAgbWFyZ2luOiAwO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBib3R0b206IDI0cHg7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGF7XG4gICAgICBiYWNrZ3JvdW5kOiB2YXIoLS13aGl0ZSk7XG4gICAgICBvcGFjaXR5OiAwLjQ7XG4gICAgfVxuICAgIGxpLmFjdGl2ZSBhe1xuICAgICAgYmFja2dyb3VuZDogdmFyKC0td2hpdGUpO1xuICAgICAgb3BhY2l0eTogMTtcbiAgICB9XG4gIH1cbiAgQGluY2x1ZGUgbWVkaWFRdWVyeU1pbigkbWVkaWFRdWVyeU1pbkRlc2t0b3BCcmVha1BvaW50KXtcbiAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgICZfX2l0ZW17XG4gICAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgICAgJi1pbWFnZXtcbiAgICAgICAgaGVpZ2h0OiA4MTdweDtcbiAgICAgIH1cbiAgICAgICYtaW1hZ2UtYm94LFxuICAgICAgJi1jb250ZW50e1xuICAgICAgICB3aWR0aDogNTAlO1xuICAgICAgfVxuICAgICAgJi1jb250ZW50e1xuICAgICAgICAmLWlubmVye1xuICAgICAgICAgIHBhZGRpbmc6IDE1N3B4IDQycHggODBweCA1MHB4O1xuICAgICAgICB9XG4gICAgICB9XG4gICAgICAmLXRpdGxle1xuICAgICAgICBmb250LXNpemU6IDQycHg7XG4gICAgICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgICAgIH1cbiAgICAgICYtYnRucyB7XG4gICAgICAgIHRleHQtYWxpZ246IGxlZnQ7XG4gICAgICB9XG4gICAgfVxuICAgIC5zbGlkZXJfX2NvbnRyb2xfbmV4dCBzdmcgcGF0aHtcbiAgICAgIGZpbGw6IHZhcigtLXdoaXRlKTtcbiAgICB9XG4gICAgLnNsaWRlcl9fd3JhcHBlciAubFNTbGlkZU91dGVyIC5sU1BhZ2VyLmxTcGcge1xuICAgICAgbWFyZ2luOiAwIDI0cHggMCAwO1xuICAgICAgcmlnaHQ6IDUwJTtcbiAgICAgIHdpZHRoOiBhdXRvO1xuICAgICAgdGV4dC1hbGlnbjogbGVmdDtcbiAgICAgIGF7XG4gICAgICAgIGJhY2tncm91bmQ6IHZhcigtLXRyYW5zcGFyZW50KTtcbiAgICAgICAgb3BhY2l0eTogMTtcbiAgICAgIH1cbiAgICAgIGxpLmFjdGl2ZSBhe1xuICAgICAgICBiYWNrZ3JvdW5kOiB2YXIoLS1ncmVlbik7XG4gICAgICB9XG4gICAgfVxuICAgIC50aXRsZV9fc3BhbiA+ICoge1xuICAgICAgZm9udC1zaXplOiA1NHB4O1xuICAgIH1cbiAgICAuc2xpZGVyX19jb250cm9sIHtcbiAgICAgIHRvcDogMTAwJTtcbiAgICAgIG1hcmdpbi10b3A6IC04NHB4O1xuICAgIH1cbiAgfVxuXG4gIEBpbmNsdWRlIG1lZGlhUXVlcnlNaW4oMTYwMCl7XG4gICAgJl9faXRlbSB7XG4gICAgICAmLWNvbnRlbnQge1xuICAgICAgICAmLWlubmVyIHtcbiAgICAgICAgICBwYWRkaW5nOiAxNTdweCAxMjhweCA4MHB4IDA7XG4gICAgICAgICAgbWF4LXdpZHRoOiA2NTZweDtcbiAgICAgICAgfVxuICAgICAgfVxuICAgIH1cbiAgICAudGl0bGVfX3NwYW4gPiAqIHtcbiAgICAgIGZvbnQtc2l6ZTogNjRweDtcbiAgICB9XG4gICAgLnNsaWRlcl9fY29udHJvbCB7XG4gICAgICB0b3A6IDUwJTtcbiAgICAgIG1hcmdpbi10b3A6IC00MHB4O1xuICAgIH1cbiAgfVxufSIsIkB1c2UgXCJzYXNzOm1hcFwiO1xuQHVzZSBcInNhc3M6bWF0aFwiO1xuXG5AbWl4aW4gc2V0U3ZnSWNvblNpemVCeVdpZHRoKCR3aWR0aCwgJGljb25OYW1lKXtcbiAgJHN2Z0ljb246IG1hcF9nZXQoJHN2Z0ljb25zTGlzdCwgJGljb25OYW1lKTtcbiAgJHByb3BvcnRpb246IG1hcF9nZXQoJHN2Z0ljb24sICdwcm9wb3J0aW9uJyk7XG5cbiAgd2lkdGg6ICN7JHdpZHRofXB4O1xuICBoZWlnaHQ6ICN7JHdpZHRoKiRwcm9wb3J0aW9ufXB4O1xufVxuXG5AbWl4aW4gcG9zQWJzQ2VudGVyKCR3LCAkaCl7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOjUwJTtcbiAgbGVmdDo1MCU7XG4gIGhlaWdodDogJGg7XG4gIHdpZHRoOiAkdztcbiAgbWFyZ2luLXRvcDotIG1hdGguZGl2KCRoLCAyKTtcbiAgbWFyZ2luLWxlZnQ6LSBtYXRoLmRpdigkdywgMik7XG59XG5cbkBtaXhpbiBtZWRpYVF1ZXJ5TWluKCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxuICBcbn1cbkBtaXhpbiBtZWRpYVF1ZXJ5TWF4KCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxufVxuQG1peGluIG1lZGlhUXVlcnlCZWV0d2VlbigkYnJlYWtwb2ludEZyb20sICRicmVha3BvaW50VG8pIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSkgYW5kIG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZSBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pKXtcbiAgICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnRUb31weCl7XG4gICAgICAgIEBjb250ZW50O1xuICAgICAgfVxuICB9QGVsc2UgaWYgKG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50RnJvbX1weCkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZXtcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogI3skYnJlYWtwb2ludEZyb219cHgpIGFuZCAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50VG99cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG4gIFxufVxuXG5AbWl4aW4gaXNGbGV4KCRkaXNwbGF5OiBmbGV4LCAkYWxpZ246IGNlbnRlciwgJGp1c3RpZnlDb250ZW50OiBzcGFjZS1iZXR3ZWVuKSB7XG4gIGRpc3BsYXk6ICRkaXNwbGF5O1xuICBhbGlnbi1pdGVtczogJGFsaWduO1xuICBqdXN0aWZ5LWNvbnRlbnQ6ICRqdXN0aWZ5Q29udGVudDtcbiAgQGNvbnRlbnQ7XG59XG5cbkBtaXhpbiBpY29uKFxuICAkaWNvblBhdGg6Jy4uL2ltZy9pY29uLnBuZycsXG4gICR3OjIwcHgsXG4gICRoOjIwcHgsXG4gICRwc2V1ZG86IGJlZm9yZSxcbiAgJGJwb3M6IDUwJSA1MCUsXG4gICRic2l6ZTogY292ZXJcbil7XG4gICY6I3skcHNldWRvfXtcbiAgICBjb250ZW50OiAnJztcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgd2lkdGg6ICR3O1xuICAgIGhlaWdodDogJGg7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCRpY29uUGF0aCk7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAkYnBvcztcbiAgICBiYWNrZ3JvdW5kLXNpemU6ICRic2l6ZTtcbiAgICBAY29udGVudDtcbiAgfVxufVxuQG1peGluIHN2Z19pY29uKCRuYW1lOiBjYWxlbmRhcl95ZWxsb3csICRpbWdQYXRoOicuLi9pbWcnLCAkdzoyMHB4LCAkaDoyMHB4LCAkcHNldWRvOiBiZWZvcmUsICRicG9zOiA1MCUgNTAlLCAkYnNpemU6IGNvdmVyKXtcbiAgQGluY2x1ZGUgaWNvbihcbiAgICAkaWNvblBhdGg6ICRpbWdQYXRoICsgJy9zdmdfc3ByaXRlLnN2ZyMnKyAkbmFtZSxcbiAgICAkdzokdyxcbiAgICAkaDokaCxcbiAgICAkcHNldWRvOiAkcHNldWRvLFxuICAgICRicG9zOiAkYnBvcyxcbiAgICAkYnNpemU6ICRic2l6ZVxuICApe1xuICAgIEBjb250ZW50O1xuICB9O1xufVxuQG1peGluIGxvYWRlcigkaW1nUGF0aDonLi4vaW1nJywgJHc6MjBweCwgJGg6MjBweCwgJHBzZXVkbzogYmVmb3JlKXtcbiAgJjojeyRwc2V1ZG99e1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB3aWR0aDogJHc7XG4gICAgaGVpZ2h0OiAkaDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJGltZ1BhdGggKyAnL2xvYWRlci5naWYnKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IDUwJSA1MCU7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIHRyYW5zaXRpb24oJHByb3BlcnR5OiBhbGwsICR0aW1lOiAzMDBtcywgJGVmZmVjdDpjdWJpYy1iZXppZXIoMC4yNSwgMC44LCAwLjI1LCAxKSl7XG4gICAgdHJhbnNpdGlvbjogJHByb3BlcnR5ICR0aW1lICRlZmZlY3Q7XG4gICAgLXdlYmtpdC10cmFuc2l0aW9uOiAkcHJvcGVydHkgJHRpbWUgJGVmZmVjdDtcbiAgICAtbW96LXRyYW5zaXRpb246ICRwcm9wZXJ0eSAkdGltZSAkZWZmZWN0O1xufVxuQG1peGluIHBsYWNlaG9sZGVyKCl7XG4gICY6Oi13ZWJraXQtaW5wdXQtcGxhY2Vob2xkZXIgeyBAY29udGVudDsgfVxuICAmOi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6Oi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6OnBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbn1cbkBtaXhpbiBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3Ipe1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAkdG9Db2xvcjsgLyogRmFsbGJhY2sgQ29sb3IgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1ncmFkaWVudChsaW5lYXIsICRkaXJlY3Rpb24sIGZyb20oJGZyb21Db2xvciksIHRvKCR0b0NvbG9yKSk7IC8qIFNhZjQrLCBDaHJvbWUgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBDaHJvbWUgMTArLCBTYWY1LjErLCBpT1MgNSsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgLW1vei1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBGRjMuNiAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgLW1zLWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIElFMTAgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAtby1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBPcGVyYSAxMS4xMCsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAgICBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpO1xuICBmaWx0ZXI6IHByb2dpZDpEWEltYWdlVHJhbnNmb3JtLk1pY3Jvc29mdC5ncmFkaWVudChHcmFkaWVudFR5cGU9MSxTdGFydENvbG9yU3RyPScjeyRmcm9tQ29sb3J9JywgRW5kQ29sb3JTdHI9JyN7JHRvQ29sb3J9Jyk7XG59XG5cbkBtaXhpbiAgQW5pbWF0ZWRCYWNrZ3JvdW5kTG9hZCgkaDogYXV0bywgJGJyYWRpdXM6MjBweCl7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIGhlaWdodDogJGg7XG4gIGJvcmRlci1yYWRpdXM6ICRicmFkaXVzO1xuICBiYWNrZ3JvdW5kOiAjZjNmM2YzIGxpbmVhci1ncmFkaWVudCh0byByaWdodCwjZjNmM2YzIDUlLCNlZWUgMjAlLCNmM2YzZjMgMzUlKTtcbiAgYW5pbWF0aW9uOiBwbGFjZWhvbGRlclNoaW1tZXIgMnMgbGluZWFyIDBzIGluZmluaXRlIG5vcm1hbCBmb3J3YXJkcztcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gICY6YWZ0ZXJ7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwO1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGJhY2tncm91bmQ6ICNmZmY7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAwO1xuICB9XG59Il19 */
