.work_steps__topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.work_steps__topic-slogan {
  display: none;
}
.work_steps__side {
  display: flex;
  flex-direction: column-reverse;
}
.work_steps__side-image .btn {
  margin-top: 73px;
}
.work_steps__side-image-box {
  display: none;
}
.work_steps__list {
  display: grid;
  grid-gap: 48px 0;
  grid-template-columns: repeat(1, 1fr);
}
.work_steps__item {
  text-decoration: none;
}
.work_steps__item-top {
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .work_steps__item-top {
    margin-bottom: 5px;
  }
}
.work_steps__item-num {
  font-weight: 500;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--biege);
}
.work_steps__item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--green);
  margin-left: 26px;
}
@media (max-width: 600px) {
  .work_steps__item-title {
    padding-top: 14px;
    box-sizing: border-box;
  }
}
.work_steps__item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.work_steps__item_btn {
  padding-top: 68px;
}
@media (max-width: 480px) {
  .work_steps__item_btn {
    padding-top: 45px;
  }
}
.work_steps__item_btn .btn {
  display: block;
  text-align: center;
  width: 100%;
}
@media (min-width: 1160px) {
  .work_steps__topic {
    margin-bottom: 106px;
  }
  .work_steps__topic-slogan {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--green);
    padding-right: 114px;
  }
  .work_steps__list {
    grid-gap: 64px 130px;
    grid-template-columns: repeat(2, 1fr);
  }
  .work_steps__item-top {
    align-items: flex-end;
  }
  .work_steps__item_full {
    grid-column: 1/3;
  }
  .work_steps__item_big .work_steps__item-title, .work_steps__item_big .work_steps__item-description {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0;
  }
  .work_steps__item_big .work_steps__item-num {
    font-size: 64px;
    line-height: 1;
    letter-spacing: 0;
  }
  .work_steps__side {
    flex-direction: row;
  }
  .work_steps__side-image {
    margin-right: 144px;
  }
  .work_steps__side-image .btn {
    margin-top: 113px;
  }
  .work_steps__side-image-box {
    width: 416px;
    display: block;
  }
  .work_steps__side-image {
    position: relative;
  }
  .work_steps__side.is-sticked .work_steps__side-image-inner {
    position: fixed;
    top: 89px;
  }
  .work_steps__side.is-sticked .work_steps__side-content, .work_steps__side.is-sticked_end .work_steps__side-content {
    padding-left: 416px;
  }
  .work_steps__side.is-sticked_end .work_steps__side-image-inner {
    position: absolute;
    bottom: 0;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2plY3RzL2NlbnRyc2h0b3IvY29tcG9uZW50cy9uZXdzLmxpc3Qvd29ya19zdGVwcy9zdHlsZS5zY3NzIiwiY29yZS9hc3NldHMvc2Nzcy91dGlscy9fY29yZU1peGluLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBS0U7RUM2REEsU0FEc0I7RUFFdEIsYUFGb0M7RUFHcEMsaUJBSDZEO0VEMUQzRDs7QUFDQTtFQUNFOztBQUdKO0VBQ0U7RUFDQTs7QUFFRTtFQUNFOztBQUVGO0VBQ0U7O0FBSU47RUFDRTtFQUNBO0VBQ0E7O0FBRUY7RUFFRTs7QUFDQTtFQUNFO0VBRUE7O0FDSUY7RURQQTtJQUtJOzs7QUFHSjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBRUY7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQ2hCRjtFRFFBO0lBVUk7SUFDQTs7O0FBSUo7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFHRjtFQUNFOztBQy9CRjtFRDhCQTtJQUdJOzs7QUFFRjtFQUNFO0VBQ0E7RUFDQTs7QUNsREo7RUR3REE7SUFDRTs7RUFDQTtJQUNFO0lBQ0E7SUFDQTtJQUNBO0lBQ0E7SUFDQTtJQUNBO0lBQ0E7SUFDQTs7RUFHSjtJQUNFO0lBQ0E7O0VBR0E7SUFDRTs7RUFFRjtJQUNFOztFQUVGO0lBQ0U7SUFDQTtJQUNBOztFQUVGO0lBQ0U7SUFDQTtJQUNBOztFQUdKO0lBQ0U7O0VBQ0E7SUFDRTs7RUFDQTtJQUNFOztFQUVGO0lBQ0U7SUFDQTs7RUFJTjtJQUNFOztFQUVGO0lBQ0U7SUFDQTs7RUFFRjtJQUVFOztFQUVGO0lBQ0U7SUFDQSIsImZpbGUiOiJwcm9qZWN0cy9jZW50cnNodG9yL2NvbXBvbmVudHMvbmV3cy5saXN0L3dvcmtfc3RlcHMvc3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAgXCIuLi8uLi8uLi9zY3NzL3V0aWxzL2NvcmVcIjtcblxuLndvcmtfc3RlcHN7XG4gICRwYXJlbnQ6ICY7XG5cbiAgJl9fdG9waWN7XG4gICAgQGluY2x1ZGUgaXNGbGV4KCk7XG4gICAgbWFyZ2luLWJvdHRvbTogNDBweDtcbiAgICAmLXNsb2dhbntcbiAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgfVxuICB9XG4gICZfX3NpZGV7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uLXJldmVyc2U7XG4gICAgJi1pbWFnZXtcbiAgICAgIC5idG57XG4gICAgICAgIG1hcmdpbi10b3A6IDczcHg7XG4gICAgICB9XG4gICAgICAmLWJveHtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgIH1cbiAgICB9XG4gIH1cbiAgJl9fbGlzdHtcbiAgICBkaXNwbGF5OiBncmlkO1xuICAgIGdyaWQtZ2FwOiA0OHB4IDA7XG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMSwgMWZyKTtcbiAgfVxuICAmX19pdGVte1xuICAgICRpdGVtOiAmO1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICAmLXRvcHtcbiAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAvL2FsaWduLWl0ZW1zOiBmbGV4LWVuZDtcbiAgICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XG4gICAgICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWF4KDQ4MCl7XG4gICAgICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgICAgIH1cbiAgICB9XG4gICAgJi1udW17XG4gICAgICBmb250LXdlaWdodDogNTAwO1xuICAgICAgZm9udC1zaXplOiA0MnB4O1xuICAgICAgbGluZS1oZWlnaHQ6IDE7XG4gICAgICBsZXR0ZXItc3BhY2luZzogMC4wNWVtO1xuICAgICAgY29sb3I6IHZhcigtLWJpZWdlKTtcbiAgICB9XG4gICAgJi10aXRsZXtcbiAgICAgIGZvbnQtZmFtaWx5OiB2YXIoLS1mb250LWZhbWlseSk7XG4gICAgICBmb250LXdlaWdodDogNDAwO1xuICAgICAgZm9udC1zaXplOiAxNnB4O1xuICAgICAgbGluZS1oZWlnaHQ6IDIwMCU7XG4gICAgICBsZXR0ZXItc3BhY2luZzogMC4xZW07XG4gICAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICAgICAgY29sb3I6IHZhcigtLWdyZWVuKTtcbiAgICAgIG1hcmdpbi1sZWZ0OiAyNnB4O1xuICAgICAgQGluY2x1ZGUgbWVkaWFRdWVyeU1heCg2MDApe1xuICAgICAgICBwYWRkaW5nLXRvcDogMTRweDtcbiAgICAgICAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgICAgIH1cbiAgICB9XG5cbiAgICAmLWRlc2NyaXB0aW9ue1xuICAgICAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxNTAlO1xuICAgICAgY29sb3I6IHZhcigtLWJsYWNrKTtcbiAgICB9XG5cbiAgICAmX2J0bntcbiAgICAgIHBhZGRpbmctdG9wOiA2OHB4O1xuICAgICAgQGluY2x1ZGUgbWVkaWFRdWVyeU1heCg0ODApe1xuICAgICAgICBwYWRkaW5nLXRvcDogNDVweDtcbiAgICAgIH1cbiAgICAgIC5idG57XG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgfVxuXG4gICAgfVxuICB9XG4gIEBpbmNsdWRlIG1lZGlhUXVlcnlNaW4oJG1lZGlhUXVlcnlNaW5EZXNrdG9wQnJlYWtQb2ludCl7XG4gICAgJl9fdG9waWN7XG4gICAgICBtYXJnaW4tYm90dG9tOiAxMDZweDtcbiAgICAgICYtc2xvZ2Fue1xuICAgICAgICBkaXNwbGF5OiBibG9jaztcbiAgICAgICAgZm9udC1mYW1pbHk6IHZhcigtLWZvbnQtZmFtaWx5KTtcbiAgICAgICAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgICAgICAgZm9udC1zaXplOiAxNnB4O1xuICAgICAgICBsaW5lLWhlaWdodDogMjAwJTtcbiAgICAgICAgbGV0dGVyLXNwYWNpbmc6IDAuMWVtO1xuICAgICAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICAgICAgICBjb2xvcjogdmFyKC0tZ3JlZW4pO1xuICAgICAgICBwYWRkaW5nLXJpZ2h0OiAxMTRweDtcbiAgICAgIH1cbiAgICB9XG4gICAgJl9fbGlzdHtcbiAgICAgIGdyaWQtZ2FwOiA2NHB4IDEzMHB4O1xuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMiwgMWZyKTtcbiAgICB9XG4gICAgJl9faXRlbXtcbiAgICAgICYtdG9we1xuICAgICAgICBhbGlnbi1pdGVtczogZmxleC1lbmQ7XG4gICAgICB9XG4gICAgICAmX2Z1bGx7XG4gICAgICAgIGdyaWQtY29sdW1uOiAxLzM7XG4gICAgICB9XG4gICAgICAmX2JpZyAmLXRpdGxlLCAmX2JpZyAmLWRlc2NyaXB0aW9ue1xuICAgICAgICBmb250LXNpemU6IDIwcHg7XG4gICAgICAgIGxpbmUtaGVpZ2h0OiAxNjAlO1xuICAgICAgICBsZXR0ZXItc3BhY2luZzogMDtcbiAgICAgIH1cbiAgICAgICZfYmlnICYtbnVte1xuICAgICAgICBmb250LXNpemU6IDY0cHg7XG4gICAgICAgIGxpbmUtaGVpZ2h0OiAxO1xuICAgICAgICBsZXR0ZXItc3BhY2luZzogMDtcbiAgICAgIH1cbiAgICB9XG4gICAgJl9fc2lkZSB7XG4gICAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgICAgJi1pbWFnZXtcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAxNDRweDtcbiAgICAgICAgLmJ0bntcbiAgICAgICAgICBtYXJnaW4tdG9wOiAxMTNweDtcbiAgICAgICAgfVxuICAgICAgICAmLWJveHtcbiAgICAgICAgICB3aWR0aDogNDE2cHg7XG4gICAgICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICAgIH1cbiAgICAgIH1cbiAgICB9XG4gICAgJl9fc2lkZS1pbWFnZXtcbiAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICB9XG4gICAgJl9fc2lkZS5pcy1zdGlja2VkICZfX3NpZGUtaW1hZ2UtaW5uZXJ7XG4gICAgICBwb3NpdGlvbjogZml4ZWQ7XG4gICAgICB0b3A6ODlweDtcbiAgICB9XG4gICAgJl9fc2lkZS5pcy1zdGlja2VkICZfX3NpZGUtY29udGVudCxcbiAgICAmX19zaWRlLmlzLXN0aWNrZWRfZW5kICZfX3NpZGUtY29udGVudHtcbiAgICAgIHBhZGRpbmctbGVmdDogNDE2cHg7XG4gICAgfVxuICAgICZfX3NpZGUuaXMtc3RpY2tlZF9lbmQgJl9fc2lkZS1pbWFnZS1pbm5lcntcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgIGJvdHRvbTowO1xuICAgIH1cbiAgfVxufSIsIkB1c2UgXCJzYXNzOm1hcFwiO1xuQHVzZSBcInNhc3M6bWF0aFwiO1xuXG5AbWl4aW4gc2V0U3ZnSWNvblNpemVCeVdpZHRoKCR3aWR0aCwgJGljb25OYW1lKXtcbiAgJHN2Z0ljb246IG1hcF9nZXQoJHN2Z0ljb25zTGlzdCwgJGljb25OYW1lKTtcbiAgJHByb3BvcnRpb246IG1hcF9nZXQoJHN2Z0ljb24sICdwcm9wb3J0aW9uJyk7XG5cbiAgd2lkdGg6ICN7JHdpZHRofXB4O1xuICBoZWlnaHQ6ICN7JHdpZHRoKiRwcm9wb3J0aW9ufXB4O1xufVxuXG5AbWl4aW4gcG9zQWJzQ2VudGVyKCR3LCAkaCl7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOjUwJTtcbiAgbGVmdDo1MCU7XG4gIGhlaWdodDogJGg7XG4gIHdpZHRoOiAkdztcbiAgbWFyZ2luLXRvcDotIG1hdGguZGl2KCRoLCAyKTtcbiAgbWFyZ2luLWxlZnQ6LSBtYXRoLmRpdigkdywgMik7XG59XG5cbkBtaXhpbiBtZWRpYVF1ZXJ5TWluKCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxuICBcbn1cbkBtaXhpbiBtZWRpYVF1ZXJ5TWF4KCRicmVha3BvaW50KSB7XG4gIEBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCkpe1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludCl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50fXB4KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfVxufVxuQG1peGluIG1lZGlhUXVlcnlCZWV0d2VlbigkYnJlYWtwb2ludEZyb20sICRicmVha3BvaW50VG8pIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSkgYW5kIG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZSBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pKXtcbiAgICAgIEBtZWRpYSAobWluLXdpZHRoOiAje21hcC5nZXQoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludEZyb20pfSkgYW5kIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnRUb31weCl7XG4gICAgICAgIEBjb250ZW50O1xuICAgICAgfVxuICB9QGVsc2UgaWYgKG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbykpe1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50RnJvbX1weCkgYW5kIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50VG8pfSl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1AZWxzZXtcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogI3skYnJlYWtwb2ludEZyb219cHgpIGFuZCAobWF4LXdpZHRoOiAjeyRicmVha3BvaW50VG99cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG4gIFxufVxuXG5AbWl4aW4gaXNGbGV4KCRkaXNwbGF5OiBmbGV4LCAkYWxpZ246IGNlbnRlciwgJGp1c3RpZnlDb250ZW50OiBzcGFjZS1iZXR3ZWVuKSB7XG4gIGRpc3BsYXk6ICRkaXNwbGF5O1xuICBhbGlnbi1pdGVtczogJGFsaWduO1xuICBqdXN0aWZ5LWNvbnRlbnQ6ICRqdXN0aWZ5Q29udGVudDtcbiAgQGNvbnRlbnQ7XG59XG5cbkBtaXhpbiBpY29uKFxuICAkaWNvblBhdGg6Jy4uL2ltZy9pY29uLnBuZycsXG4gICR3OjIwcHgsXG4gICRoOjIwcHgsXG4gICRwc2V1ZG86IGJlZm9yZSxcbiAgJGJwb3M6IDUwJSA1MCUsXG4gICRic2l6ZTogY292ZXJcbil7XG4gICY6I3skcHNldWRvfXtcbiAgICBjb250ZW50OiAnJztcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgd2lkdGg6ICR3O1xuICAgIGhlaWdodDogJGg7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCRpY29uUGF0aCk7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAkYnBvcztcbiAgICBiYWNrZ3JvdW5kLXNpemU6ICRic2l6ZTtcbiAgICBAY29udGVudDtcbiAgfVxufVxuQG1peGluIHN2Z19pY29uKCRuYW1lOiBjYWxlbmRhcl95ZWxsb3csICRpbWdQYXRoOicuLi9pbWcnLCAkdzoyMHB4LCAkaDoyMHB4LCAkcHNldWRvOiBiZWZvcmUsICRicG9zOiA1MCUgNTAlLCAkYnNpemU6IGNvdmVyKXtcbiAgQGluY2x1ZGUgaWNvbihcbiAgICAkaWNvblBhdGg6ICRpbWdQYXRoICsgJy9zdmdfc3ByaXRlLnN2ZyMnKyAkbmFtZSxcbiAgICAkdzokdyxcbiAgICAkaDokaCxcbiAgICAkcHNldWRvOiAkcHNldWRvLFxuICAgICRicG9zOiAkYnBvcyxcbiAgICAkYnNpemU6ICRic2l6ZVxuICApe1xuICAgIEBjb250ZW50O1xuICB9O1xufVxuQG1peGluIGxvYWRlcigkaW1nUGF0aDonLi4vaW1nJywgJHc6MjBweCwgJGg6MjBweCwgJHBzZXVkbzogYmVmb3JlKXtcbiAgJjojeyRwc2V1ZG99e1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB3aWR0aDogJHc7XG4gICAgaGVpZ2h0OiAkaDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJGltZ1BhdGggKyAnL2xvYWRlci5naWYnKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IDUwJSA1MCU7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIHRyYW5zaXRpb24oJHByb3BlcnR5OiBhbGwsICR0aW1lOiAzMDBtcywgJGVmZmVjdDpjdWJpYy1iZXppZXIoMC4yNSwgMC44LCAwLjI1LCAxKSl7XG4gICAgdHJhbnNpdGlvbjogJHByb3BlcnR5ICR0aW1lICRlZmZlY3Q7XG4gICAgLXdlYmtpdC10cmFuc2l0aW9uOiAkcHJvcGVydHkgJHRpbWUgJGVmZmVjdDtcbiAgICAtbW96LXRyYW5zaXRpb246ICRwcm9wZXJ0eSAkdGltZSAkZWZmZWN0O1xufVxuQG1peGluIHBsYWNlaG9sZGVyKCl7XG4gICY6Oi13ZWJraXQtaW5wdXQtcGxhY2Vob2xkZXIgeyBAY29udGVudDsgfVxuICAmOi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6Oi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6OnBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbn1cbkBtaXhpbiBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3Ipe1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAkdG9Db2xvcjsgLyogRmFsbGJhY2sgQ29sb3IgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1ncmFkaWVudChsaW5lYXIsICRkaXJlY3Rpb24sIGZyb20oJGZyb21Db2xvciksIHRvKCR0b0NvbG9yKSk7IC8qIFNhZjQrLCBDaHJvbWUgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBDaHJvbWUgMTArLCBTYWY1LjErLCBpT1MgNSsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgLW1vei1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBGRjMuNiAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgLW1zLWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIElFMTAgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAtby1saW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpOyAvKiBPcGVyYSAxMS4xMCsgKi9cbiAgYmFja2dyb3VuZC1pbWFnZTogICAgICAgICBsaW5lYXItZ3JhZGllbnQoJGRpcmVjdGlvbiwgJGZyb21Db2xvciwgJHRvQ29sb3IpO1xuICBmaWx0ZXI6IHByb2dpZDpEWEltYWdlVHJhbnNmb3JtLk1pY3Jvc29mdC5ncmFkaWVudChHcmFkaWVudFR5cGU9MSxTdGFydENvbG9yU3RyPScjeyRmcm9tQ29sb3J9JywgRW5kQ29sb3JTdHI9JyN7JHRvQ29sb3J9Jyk7XG59XG5cbkBtaXhpbiAgQW5pbWF0ZWRCYWNrZ3JvdW5kTG9hZCgkaDogYXV0bywgJGJyYWRpdXM6MjBweCl7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIGhlaWdodDogJGg7XG4gIGJvcmRlci1yYWRpdXM6ICRicmFkaXVzO1xuICBiYWNrZ3JvdW5kOiAjZjNmM2YzIGxpbmVhci1ncmFkaWVudCh0byByaWdodCwjZjNmM2YzIDUlLCNlZWUgMjAlLCNmM2YzZjMgMzUlKTtcbiAgYW5pbWF0aW9uOiBwbGFjZWhvbGRlclNoaW1tZXIgMnMgbGluZWFyIDBzIGluZmluaXRlIG5vcm1hbCBmb3J3YXJkcztcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gICY6YWZ0ZXJ7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwO1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGJhY2tncm91bmQ6ICNmZmY7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAwO1xuICB9XG59Il19 */
