.portfolio .title {
  margin-bottom: 40px;
}
.is-not-init .portfolio__item:not(:first-child) {
  display: none;
}
.portfolio .project__tags {
  max-width: 100%;
  overflow: auto;
  /*margin-bottom: 42px;*/
  margin-bottom: 25px;
}
.portfolio__item {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.portfolio__item .tags__list {
  flex-wrap: nowrap;
}
.portfolio__item-content-title-box {
  margin-bottom: 40px;
}
.portfolio__item-content-slogan {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 33px;
}
.portfolio__item-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  width: 100%;
  height: 312px;
}
.portfolio__item-image-box, .portfolio__item-content {
  width: 100%;
}
.portfolio__item-content {
  display: flex;
}
.portfolio__item-content-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 56px 24px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.portfolio__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 5px;
}
.portfolio__item-material {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 28px;
}
.portfolio__item-description {
  display: -webkit-box;
  max-width: 528px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 49px;
}
@media (max-width: 600px) {
  .portfolio__item-description {
    display: none;
  }
}
.portfolio__item-btns {
  text-align: center;
}
@media (max-width: 600px) {
  .portfolio__item-btns {
    display: none;
  }
}
.portfolio__item-btns .btn {
  display: inline-flex;
  width: auto;
  padding-left: 55px;
  padding-right: 55px;
}
.portfolio__item-content_mobile .portfolio__item-btns {
  display: none;
}
@media (max-width: 600px) {
  .portfolio__item-content_mobile .portfolio__item-btns {
    padding: 40px 0;
    display: block;
  }
}
.portfolio .slider__control {
  top: 100%;
  margin-top: -97px;
}
.portfolio .slider__wrapper .lSSlideOuter .lSPager.lSpg {
  margin: 0;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}
.portfolio .slider__wrapper .lSSlideOuter .lSPager.lSpg a {
  background: var(--white);
  opacity: 0.4;
}
.portfolio .slider__wrapper .lSSlideOuter .lSPager.lSpg li.active a {
  background: var(--white);
  opacity: 1;
}
@media (min-width: 1160px) {
  .portfolio {
    flex-direction: row;
  }
  .portfolio .title {
    margin-bottom: 0;
  }
  .portfolio__item {
    flex-direction: row;
  }
  .portfolio__item-image {
    height: 824px;
    /*height: 100%;*/
  }
  .portfolio__item-image-box, .portfolio__item-content {
    width: 50%;
  }
  .portfolio__item-content-inner {
    /*padding: 157px 42px 80px 50px;*/
    padding: 86px 42px 80px 50px;
  }
  .portfolio__item-content-slogan {
    max-width: 300px;
    margin-top: 21px;
  }
  .portfolio__item-content-title-box {
    /*margin-bottom: 107px;*/
    margin-bottom: 70px;
  }
  .portfolio__item-title {
    font-size: 42px;
    margin-bottom: 5px;
    min-height: 112px;
  }
  /*.portfolio__item .tags__list {*/
  /*  flex-wrap: wrap;*/
  /*}*/
  .portfolio__item-btns {
    text-align: left;
  }
  .portfolio .slider__control_prev svg path {
    fill: var(--white);
  }
  .portfolio .slider__wrapper .lSSlideOuter .lSPager.lSpg {
    margin: 0 0 0 24px;
    left: 50%;
    width: auto;
    text-align: left;
  }
  .portfolio .slider__wrapper .lSSlideOuter .lSPager.lSpg a {
    background: var(--transparent);
    opacity: 1;
  }
  .portfolio .slider__wrapper .lSSlideOuter .lSPager.lSpg li.active a {
    background: var(--green);
  }
  .portfolio .title__span > * {
    font-size: 54px;
  }
  .portfolio .slider__control {
    top: 100%;
    margin-top: -94px;
  }
}
@media (min-width: 1600px) {
  .portfolio__item-content-inner {
    /*padding: 157px 0 80px 128px;*/
    padding: 86px 0 80px 128px;
    max-width: 656px;
  }
  .portfolio .title__span > * {
    font-size: 64px;
  }
  .portfolio .slider__control {
    top: 50%;
    margin-top: -40px;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2plY3RzL2NlbnRyc2h0b3IvY29tcG9uZW50cy9uZXdzLmxpc3QvcG9ydGZvbGlvL3N0eWxlLnNjc3MiLCJjb3JlL2Fzc2V0cy9zY3NzL3V0aWxzL19jb3JlTWl4aW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHRTtFQUNFOztBQUVGO0VBQ0U7O0FBRUY7RUFDRTtFQUNBO0VBQ0E7O0FBRUY7RUFDRTtFQUNBO0VBa0JBO0VBQ0E7RUFDQTtFQUNBOztBQXBCQTtFQUNFOztBQUVGO0VBQ0U7O0FBRUY7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQVFGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFRjtFQUVFOztBQUVGO0VBQ0U7O0FBQ0E7RUFDRTtFQUNBO0VBQ0E7RUFFQTtFQUNBO0VBQ0E7O0FBSUo7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQ3RERjtFRDBDQTtJQWNJOzs7QUFHSjtFQUNFOztBQzVERjtFRDJEQTtJQUdJOzs7QUFFRjtFQUNFO0VBQ0E7RUFDQTtFQUNBOztBQUlOO0VBQ0U7O0FDekVBO0VEd0VGO0lBR0k7SUFDQTs7O0FBR0o7RUFFRTtFQUNBOztBQUVGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFDQTtFQUNFO0VBQ0E7O0FBRUY7RUFDRTtFQUNBOztBQzVHRjtFRHpCSjtJQTBJSTs7RUFDQTtJQUNFOztFQUVGO0lBQ0U7O0VBQ0E7SUFDRTs7RUFFRjtJQUVFOztFQUdBO0lBQ0U7O0VBR0o7SUFDRTtJQUNBOztFQUVGO0lBQ0U7O0VBRUY7SUFDRTtJQUNBOztFQUVGO0lBQ0U7O0VBRUY7SUFDRTs7RUFHSjtJQUNFOztFQUVGO0lBQ0U7SUFDQTtJQUNBO0lBQ0E7O0VBQ0E7SUFDRTtJQUNBOztFQUVGO0lBQ0U7O0VBR0o7SUFDRTs7RUFFRjtJQUNFO0lBQ0E7OztBQzFLRjtFRGlMSTtJQUNFO0lBQ0E7O0VBSU47SUFDRTs7RUFFRjtJQUNFO0lBQ0EiLCJmaWxlIjoicHJvamVjdHMvY2VudHJzaHRvci9jb21wb25lbnRzL25ld3MubGlzdC9wb3J0Zm9saW8vc3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAgXCIuLi8uLi8uLi9zY3NzL3V0aWxzL2NvcmVcIjtcblxuLnBvcnRmb2xpb3tcbiAgLnRpdGxle1xuICAgIG1hcmdpbi1ib3R0b206IDQwcHg7XG4gIH1cbiAgLmlzLW5vdC1pbml0ICZfX2l0ZW06bm90KDpmaXJzdC1jaGlsZCl7XG4gICAgZGlzcGxheTogbm9uZTtcbiAgfVxuICAucHJvamVjdF9fdGFnc3tcbiAgICBtYXgtd2lkdGg6IDEwMCU7XG4gICAgb3ZlcmZsb3c6IGF1dG87XG4gICAgbWFyZ2luLWJvdHRvbTogNDJweDtcbiAgfVxuICAmX19pdGVte1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbi1yZXZlcnNlO1xuICAgIC50YWdzX19saXN0e1xuICAgICAgZmxleC13cmFwOiBub3dyYXA7XG4gICAgfVxuICAgICYtY29udGVudC10aXRsZS1ib3h7XG4gICAgICBtYXJnaW4tYm90dG9tOiA0MHB4O1xuICAgIH1cbiAgICAmLWNvbnRlbnQtc2xvZ2Fue1xuICAgICAgZm9udC1mYW1pbHk6IHZhcigtLWZvbnQtZmFtaWx5KTtcbiAgICAgIGZvbnQtd2VpZ2h0OiA0MDA7XG4gICAgICBmb250LXNpemU6IDE2cHg7XG4gICAgICBsaW5lLWhlaWdodDogMjAwJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjFlbTtcbiAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgICBjb2xvcjogdmFyKC0tYmxhY2spO1xuICAgICAgbWFyZ2luLXRvcDogMzNweDtcbiAgICB9XG5cbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcblxuICAgICYtaW1hZ2V7XG4gICAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICAgIGJhY2tncm91bmQtcG9zaXRpb246IDEwMCUgMDtcbiAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgaGVpZ2h0OiAzMTJweDtcbiAgICB9XG4gICAgJi1pbWFnZS1ib3gsXG4gICAgJi1jb250ZW50e1xuICAgICAgd2lkdGg6IDEwMCU7XG4gICAgfVxuICAgICYtY29udGVudHtcbiAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAmLWlubmVye1xuICAgICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICAgICAgLy9wYWRkaW5nOiA1NnB4IDI0cHg7XG4gICAgICAgIHBhZGRpbmc6IDU2cHggMjRweCAwO1xuICAgICAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgICAgICBtYXgtd2lkdGg6IDEwMCU7XG4gICAgICB9XG4gICAgfVxuXG4gICAgJi10aXRsZXtcbiAgICAgIGZvbnQtd2VpZ2h0OiA1MDA7XG4gICAgICBmb250LXNpemU6IDI0cHg7XG4gICAgICBsaW5lLWhlaWdodDogMTMzJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjA1ZW07XG4gICAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICAgICAgY29sb3I6IHZhcigtLWJsYWNrKTtcbiAgICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgICB9XG4gICAgJi1tYXRlcmlhbHtcbiAgICAgIGZvbnQtd2VpZ2h0OiA0MDA7XG4gICAgICBmb250LXNpemU6IDE2cHg7XG4gICAgICBsaW5lLWhlaWdodDogMjAwJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjFlbTtcbiAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgICBjb2xvcjogIzAwMDtcbiAgICAgIG1hcmdpbi1ib3R0b206IDI4cHg7XG4gICAgfVxuICAgICYtZGVzY3JpcHRpb257XG4gICAgICBkaXNwbGF5OiAtd2Via2l0LWJveDtcbiAgICAgIG1heC13aWR0aDogNTI4cHg7XG4gICAgICAtd2Via2l0LWxpbmUtY2xhbXA6IDM7XG4gICAgICAtd2Via2l0LWJveC1vcmllbnQ6IHZlcnRpY2FsO1xuICAgICAgaGVpZ2h0OiA3MHB4O1xuICAgICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICAgIHRleHQtb3ZlcmZsb3c6IGVsbGlwc2lzO1xuICAgICAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxNTAlO1xuICAgICAgY29sb3I6ICMwMDA7XG4gICAgICBtYXJnaW4tYm90dG9tOiA0OXB4O1xuICAgICAgQGluY2x1ZGUgbWVkaWFRdWVyeU1heCg2MDApe1xuICAgICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgfVxuICAgIH1cbiAgICAmLWJ0bnN7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWF4KDYwMCl7XG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgICB9XG4gICAgICAuYnRue1xuICAgICAgICBkaXNwbGF5OiBpbmxpbmUtZmxleDtcbiAgICAgICAgd2lkdGg6IGF1dG87XG4gICAgICAgIHBhZGRpbmctbGVmdDogNTVweDtcbiAgICAgICAgcGFkZGluZy1yaWdodDogNTVweDtcbiAgICAgIH1cbiAgICB9XG4gIH1cbiAgJl9faXRlbS1jb250ZW50X21vYmlsZSAmX19pdGVtLWJ0bnN7XG4gICAgZGlzcGxheTogbm9uZTtcbiAgICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWF4KDYwMCl7XG4gICAgICBwYWRkaW5nOiA0MHB4IDA7XG4gICAgICBkaXNwbGF5OiBibG9jaztcbiAgICB9XG4gIH1cbiAgLnNsaWRlcl9fY29udHJvbCB7XG4gICAgLy90b3A6IDUzMHB4O1xuICAgIHRvcDogMTAwJTtcbiAgICBtYXJnaW4tdG9wOiAtOTdweDtcbiAgfVxuICAuc2xpZGVyX193cmFwcGVyIC5sU1NsaWRlT3V0ZXIgLmxTUGFnZXIubFNwZyB7XG4gICAgbWFyZ2luOiAwO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBib3R0b206IDI0cHg7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGF7XG4gICAgICBiYWNrZ3JvdW5kOiB2YXIoLS13aGl0ZSk7XG4gICAgICBvcGFjaXR5OiAwLjQ7XG4gICAgfVxuICAgIGxpLmFjdGl2ZSBhe1xuICAgICAgYmFja2dyb3VuZDogdmFyKC0td2hpdGUpO1xuICAgICAgb3BhY2l0eTogMTtcbiAgICB9XG4gIH1cblxuICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWluKCRtZWRpYVF1ZXJ5TWluRGVza3RvcEJyZWFrUG9pbnQpe1xuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gICAgLnRpdGxle1xuICAgICAgbWFyZ2luLWJvdHRvbTogMDtcbiAgICB9XG4gICAgJl9faXRlbXtcbiAgICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gICAgICAmLWltYWdle1xuICAgICAgICBoZWlnaHQ6IDgyNHB4O1xuICAgICAgfVxuICAgICAgJi1pbWFnZS1ib3gsXG4gICAgICAmLWNvbnRlbnR7XG4gICAgICAgIHdpZHRoOiA1MCU7XG4gICAgICB9XG4gICAgICAmLWNvbnRlbnR7XG4gICAgICAgICYtaW5uZXJ7XG4gICAgICAgICAgcGFkZGluZzogMTU3cHggNDJweCA4MHB4IDUwcHg7XG4gICAgICAgIH1cbiAgICAgIH1cbiAgICAgICYtY29udGVudC1zbG9nYW57XG4gICAgICAgIG1heC13aWR0aDogMzAwcHg7XG4gICAgICAgIG1hcmdpbi10b3A6IDIxcHg7XG4gICAgICB9XG4gICAgICAmLWNvbnRlbnQtdGl0bGUtYm94e1xuICAgICAgICBtYXJnaW4tYm90dG9tOiAxMDdweDtcbiAgICAgIH1cbiAgICAgICYtdGl0bGV7XG4gICAgICAgIGZvbnQtc2l6ZTogNDJweDtcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogNXB4O1xuICAgICAgfVxuICAgICAgLnRhZ3NfX2xpc3R7XG4gICAgICAgIGZsZXgtd3JhcDogd3JhcDtcbiAgICAgIH1cbiAgICAgICYtYnRucyB7XG4gICAgICAgIHRleHQtYWxpZ246IGxlZnQ7XG4gICAgICB9XG4gICAgfVxuICAgIC5zbGlkZXJfX2NvbnRyb2xfcHJldiBzdmcgcGF0aHtcbiAgICAgIGZpbGw6IHZhcigtLXdoaXRlKTtcbiAgICB9XG4gICAgLnNsaWRlcl9fd3JhcHBlciAubFNTbGlkZU91dGVyIC5sU1BhZ2VyLmxTcGcge1xuICAgICAgbWFyZ2luOiAwIDAgMCAyNHB4O1xuICAgICAgbGVmdDogNTAlO1xuICAgICAgd2lkdGg6IGF1dG87XG4gICAgICB0ZXh0LWFsaWduOiBsZWZ0O1xuICAgICAgYXtcbiAgICAgICAgYmFja2dyb3VuZDogdmFyKC0tdHJhbnNwYXJlbnQpO1xuICAgICAgICBvcGFjaXR5OiAxO1xuICAgICAgfVxuICAgICAgbGkuYWN0aXZlIGF7XG4gICAgICAgIGJhY2tncm91bmQ6IHZhcigtLWdyZWVuKTtcbiAgICAgIH1cbiAgICB9XG4gICAgLnRpdGxlX19zcGFuID4gKiB7XG4gICAgICBmb250LXNpemU6IDU0cHg7XG4gICAgfVxuICAgIC5zbGlkZXJfX2NvbnRyb2wge1xuICAgICAgdG9wOiAxMDAlO1xuICAgICAgbWFyZ2luLXRvcDogLTk0cHg7XG4gICAgfVxuICB9XG5cbiAgQGluY2x1ZGUgbWVkaWFRdWVyeU1pbigxNjAwKXtcbiAgICAmX19pdGVtIHtcbiAgICAgICYtY29udGVudCB7XG4gICAgICAgICYtaW5uZXIge1xuICAgICAgICAgIHBhZGRpbmc6IDE1N3B4IDAgODBweCAxMjhweDtcbiAgICAgICAgICBtYXgtd2lkdGg6IDY1NnB4O1xuICAgICAgICB9XG4gICAgICB9XG4gICAgfVxuICAgIC50aXRsZV9fc3BhbiA+ICoge1xuICAgICAgZm9udC1zaXplOiA2NHB4O1xuICAgIH1cbiAgICAuc2xpZGVyX19jb250cm9sIHtcbiAgICAgIHRvcDogNTAlO1xuICAgICAgbWFyZ2luLXRvcDogLTQwcHg7XG4gICAgfVxuICB9XG59IiwiQHVzZSBcInNhc3M6bWFwXCI7XG5AdXNlIFwic2FzczptYXRoXCI7XG5cbkBtaXhpbiBzZXRTdmdJY29uU2l6ZUJ5V2lkdGgoJHdpZHRoLCAkaWNvbk5hbWUpe1xuICAkc3ZnSWNvbjogbWFwX2dldCgkc3ZnSWNvbnNMaXN0LCAkaWNvbk5hbWUpO1xuICAkcHJvcG9ydGlvbjogbWFwX2dldCgkc3ZnSWNvbiwgJ3Byb3BvcnRpb24nKTtcblxuICB3aWR0aDogI3skd2lkdGh9cHg7XG4gIGhlaWdodDogI3skd2lkdGgqJHByb3BvcnRpb259cHg7XG59XG5cbkBtaXhpbiBwb3NBYnNDZW50ZXIoJHcsICRoKXtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6NTAlO1xuICBsZWZ0OjUwJTtcbiAgaGVpZ2h0OiAkaDtcbiAgd2lkdGg6ICR3O1xuICBtYXJnaW4tdG9wOi0gbWF0aC5kaXYoJGgsIDIpO1xuICBtYXJnaW4tbGVmdDotIG1hdGguZGl2KCR3LCAyKTtcbn1cblxuQG1peGluIG1lZGlhUXVlcnlNaW4oJGJyZWFrcG9pbnQpIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KSl7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KX0pe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9QGVsc2V7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7JGJyZWFrcG9pbnR9cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG4gIFxufVxuQG1peGluIG1lZGlhUXVlcnlNYXgoJGJyZWFrcG9pbnQpIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KSl7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KX0pe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9QGVsc2V7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnR9cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG59XG5AbWl4aW4gbWVkaWFRdWVyeUJlZXR3ZWVuKCRicmVha3BvaW50RnJvbSwgJGJyZWFrcG9pbnRUbykge1xuICBAaWYgKG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRGcm9tKSBhbmQgbWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludFRvKSl7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSl9KSBhbmQgKG1heC13aWR0aDogI3ttYXAuZ2V0KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbyl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNlIGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSkpe1xuICAgICAgQG1lZGlhIChtaW4td2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSl9KSBhbmQgKG1heC13aWR0aDogI3skYnJlYWtwb2ludFRvfXB4KXtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgICB9XG4gIH1AZWxzZSBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludFRvKSl7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7JGJyZWFrcG9pbnRGcm9tfXB4KSBhbmQgKG1heC13aWR0aDogI3ttYXAuZ2V0KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbyl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50RnJvbX1weCkgYW5kIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnRUb31weCl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1cbiAgXG59XG5cbkBtaXhpbiBpc0ZsZXgoJGRpc3BsYXk6IGZsZXgsICRhbGlnbjogY2VudGVyLCAkanVzdGlmeUNvbnRlbnQ6IHNwYWNlLWJldHdlZW4pIHtcbiAgZGlzcGxheTogJGRpc3BsYXk7XG4gIGFsaWduLWl0ZW1zOiAkYWxpZ247XG4gIGp1c3RpZnktY29udGVudDogJGp1c3RpZnlDb250ZW50O1xuICBAY29udGVudDtcbn1cblxuQG1peGluIGljb24oXG4gICRpY29uUGF0aDonLi4vaW1nL2ljb24ucG5nJyxcbiAgJHc6MjBweCxcbiAgJGg6MjBweCxcbiAgJHBzZXVkbzogYmVmb3JlLFxuICAkYnBvczogNTAlIDUwJSxcbiAgJGJzaXplOiBjb3ZlclxuKXtcbiAgJjojeyRwc2V1ZG99e1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB3aWR0aDogJHc7XG4gICAgaGVpZ2h0OiAkaDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJGljb25QYXRoKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246ICRicG9zO1xuICAgIGJhY2tncm91bmQtc2l6ZTogJGJzaXplO1xuICAgIEBjb250ZW50O1xuICB9XG59XG5AbWl4aW4gc3ZnX2ljb24oJG5hbWU6IGNhbGVuZGFyX3llbGxvdywgJGltZ1BhdGg6Jy4uL2ltZycsICR3OjIwcHgsICRoOjIwcHgsICRwc2V1ZG86IGJlZm9yZSwgJGJwb3M6IDUwJSA1MCUsICRic2l6ZTogY292ZXIpe1xuICBAaW5jbHVkZSBpY29uKFxuICAgICRpY29uUGF0aDogJGltZ1BhdGggKyAnL3N2Z19zcHJpdGUuc3ZnIycrICRuYW1lLFxuICAgICR3OiR3LFxuICAgICRoOiRoLFxuICAgICRwc2V1ZG86ICRwc2V1ZG8sXG4gICAgJGJwb3M6ICRicG9zLFxuICAgICRic2l6ZTogJGJzaXplXG4gICl7XG4gICAgQGNvbnRlbnQ7XG4gIH07XG59XG5AbWl4aW4gbG9hZGVyKCRpbWdQYXRoOicuLi9pbWcnLCAkdzoyMHB4LCAkaDoyMHB4LCAkcHNldWRvOiBiZWZvcmUpe1xuICAmOiN7JHBzZXVkb317XG4gICAgY29udGVudDogJyc7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIHdpZHRoOiAkdztcbiAgICBoZWlnaHQ6ICRoO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgkaW1nUGF0aCArICcvbG9hZGVyLmdpZicpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1wb3NpdGlvbjogNTAlIDUwJTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgICBAY29udGVudDtcbiAgfVxufVxuXG5AbWl4aW4gdHJhbnNpdGlvbigkcHJvcGVydHk6IGFsbCwgJHRpbWU6IDMwMG1zLCAkZWZmZWN0OmN1YmljLWJlemllcigwLjI1LCAwLjgsIDAuMjUsIDEpKXtcbiAgICB0cmFuc2l0aW9uOiAkcHJvcGVydHkgJHRpbWUgJGVmZmVjdDtcbiAgICAtd2Via2l0LXRyYW5zaXRpb246ICRwcm9wZXJ0eSAkdGltZSAkZWZmZWN0O1xuICAgIC1tb3otdHJhbnNpdGlvbjogJHByb3BlcnR5ICR0aW1lICRlZmZlY3Q7XG59XG5AbWl4aW4gcGxhY2Vob2xkZXIoKXtcbiAgJjo6LXdlYmtpdC1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6LW1zLWlucHV0LXBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbiAgJjo6LW1zLWlucHV0LXBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbiAgJjo6cGxhY2Vob2xkZXIgeyBAY29udGVudDsgfVxufVxuQG1peGluIGxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcil7XG4gIGJhY2tncm91bmQtY29sb3I6ICR0b0NvbG9yOyAvKiBGYWxsYmFjayBDb2xvciAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAtd2Via2l0LWdyYWRpZW50KGxpbmVhciwgJGRpcmVjdGlvbiwgZnJvbSgkZnJvbUNvbG9yKSwgdG8oJHRvQ29sb3IpKTsgLyogU2FmNCssIENocm9tZSAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAtd2Via2l0LWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIENocm9tZSAxMCssIFNhZjUuMSssIGlPUyA1KyAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAtbW96LWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIEZGMy42ICovXG4gIGJhY2tncm91bmQtaW1hZ2U6ICAgICAtbXMtbGluZWFyLWdyYWRpZW50KCRkaXJlY3Rpb24sICRmcm9tQ29sb3IsICR0b0NvbG9yKTsgLyogSUUxMCAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgIC1vLWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIE9wZXJhIDExLjEwKyAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgICAgIGxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7XG4gIGZpbHRlcjogcHJvZ2lkOkRYSW1hZ2VUcmFuc2Zvcm0uTWljcm9zb2Z0LmdyYWRpZW50KEdyYWRpZW50VHlwZT0xLFN0YXJ0Q29sb3JTdHI9JyN7JGZyb21Db2xvcn0nLCBFbmRDb2xvclN0cj0nI3skdG9Db2xvcn0nKTtcbn1cblxuQG1peGluICBBbmltYXRlZEJhY2tncm91bmRMb2FkKCRoOiBhdXRvLCAkYnJhZGl1czoyMHB4KXtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgaGVpZ2h0OiAkaDtcbiAgYm9yZGVyLXJhZGl1czogJGJyYWRpdXM7XG4gIGJhY2tncm91bmQ6ICNmM2YzZjMgbGluZWFyLWdyYWRpZW50KHRvIHJpZ2h0LCNmM2YzZjMgNSUsI2VlZSAyMCUsI2YzZjNmMyAzNSUpO1xuICBhbmltYXRpb246IHBsYWNlaG9sZGVyU2hpbW1lciAycyBsaW5lYXIgMHMgaW5maW5pdGUgbm9ybWFsIGZvcndhcmRzO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG5cbiAgJjphZnRlcntcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgcmlnaHQ6IDA7XG4gICAgY29udGVudDogJyc7XG4gICAgYmFja2dyb3VuZDogI2ZmZjtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgd2lkdGg6IDA7XG4gIH1cbn0iXX0= */
