.spec_offers .title {
  margin-bottom: 31px;
}
.is-not-init .spec_offers__item:not(:first-child) {
  display: none;
}
.spec_offers__title-box {
  margin-bottom: 79px;
}
@media (max-width: 600px) {
  .spec_offers__title-box .btn {
    display: none;
  }
}
.spec_offers__content-mobile {
  display: none;
}
@media (max-width: 600px) {
  .spec_offers__content-mobile {
    display: block;
    padding-top: 40px;
  }
}
.spec_offers__item {
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.spec_offers__item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: var(--black);
  margin-bottom: 44px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .spec_offers__item-title-box {
    display: none;
  }
}
.spec_offers__item-title-box_mobile {
  display: none;
}
@media (max-width: 600px) {
  .spec_offers__item-title-box_mobile {
    display: block;
  }
}
.spec_offers__item-work-time {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: var(--green);
  margin-bottom: 50px;
}
.spec_offers__item-image {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 325px;
  height: 325px;
  margin: 0 auto 50px auto;
}
.spec_offers__item-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.spec_offers__item-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: column;
}
.spec_offers__item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 49px;
}
.spec_offers__item-description-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.spec_offers__item-description-box span {
  font-weight: 600;
}
.spec_offers__item-description-box ul {
  list-style-type: disc;
  margin-left: 30px;
}
.spec_offers .slider__wrapper .slider__control {
  background-color: var(--white);
  top: 156px;
}
@media (min-width: 1160px) {
  .spec_offers .title {
    margin-bottom: 0;
  }
  .spec_offers__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 106px;
  }
  .spec_offers__item-inner {
    flex-direction: row;
  }
  .spec_offers__item-title-box {
    width: 370px;
    margin-right: 20px;
    flex: none;
  }
  .spec_offers__item-content {
    flex-direction: row;
    align-items: stretch;
  }
  .spec_offers__item-image {
    width: 416px;
    height: 416px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  .spec_offers__item-work-time {
    margin-bottom: 0;
  }
  .spec_offers__item_is-img-right .spec_offers__item-content {
    flex-direction: row-reverse;
  }
  .spec_offers .slider__wrapper .slider__control {
    top: 50%;
  }
}
@media (max-width: 600px) {
  .spec_offers__item-image-wrap {
    width: 100%;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2plY3RzL2NlbnRyc2h0b3IvY29tcG9uZW50cy9uZXdzLmxpc3Qvc3BlY19vZmZlcnMvc3R5bGUuc2NzcyIsImNvcmUvYXNzZXRzL3Njc3MvdXRpbHMvX2NvcmVNaXhpbi5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUdFO0VBQ0U7O0FBRUY7RUFDRTs7QUFHRjtFQUNFOztBQzRCQTtFRDFCRTtJQUNFOzs7QUFJTjtFQUNFOztBQ29CQTtFRHJCRjtJQUdJO0lBQ0E7OztBQUdKO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7O0FBQ0E7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUNFRjtFRERFO0lBRUk7OztBQUVGO0VBQ0U7O0FDSk47RURHSTtJQUdJOzs7QUFNUjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUdGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUdGO0VDSkYsU0FEc0I7RUFFdEIsYURJNEI7RUNINUIsaUJBSDZEO0VET3pEOztBQUlGO0VDVkYsU0FEc0I7RUFFdEIsYURVNEI7RUNUNUIsaUJBSDZEO0VEY3pEO0VBQ0E7O0FBR0Y7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUNBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBQ0E7RUFDRTs7QUFFRjtFQUNFO0VBQ0E7O0FBUVI7RUFDRTtFQUNBOztBQ3hGQTtFRDJGQTtJQUNFOztFQUVGO0lDdkRGLFNBRHNCO0lBRXRCLGFBRm9DO0lBR3BDLGlCQUg2RDtJRDBEekQ7O0VBS0E7SUFDRTs7RUFFRjtJQUNFO0lBQ0E7O0VBRUY7SUFDRTs7RUFFRjtJQUNFO0lBQ0E7SUFDQTtJQUNBOztFQUVGO0lBQ0U7O0VBRUY7SUFDRTs7RUFHSjtJQUNFOzs7QUNqSEY7RURxSEE7SUFDRSIsImZpbGUiOiJwcm9qZWN0cy9jZW50cnNodG9yL2NvbXBvbmVudHMvbmV3cy5saXN0L3NwZWNfb2ZmZXJzL3N0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgIFwiLi4vLi4vLi4vc2Nzcy91dGlscy9jb3JlXCI7XG5cbi5zcGVjX29mZmVyc3tcbiAgLnRpdGxle1xuICAgIG1hcmdpbi1ib3R0b206IDMxcHg7XG4gIH1cbiAgLmlzLW5vdC1pbml0ICZfX2l0ZW06bm90KDpmaXJzdC1jaGlsZCl7XG4gICAgZGlzcGxheTogbm9uZTtcbiAgfVxuXG4gICZfX3RpdGxlLWJveHtcbiAgICBtYXJnaW4tYm90dG9tOiA3OXB4O1xuICAgIEBpbmNsdWRlIG1lZGlhUXVlcnlNYXgoNjAwKXtcbiAgICAgIC5idG57XG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgICB9XG4gICAgfVxuICB9XG4gICZfX2NvbnRlbnQtbW9iaWxle1xuICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgQGluY2x1ZGUgbWVkaWFRdWVyeU1heCg2MDApe1xuICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICBwYWRkaW5nLXRvcDogNDBweDtcbiAgICB9XG4gIH1cbiAgJl9faXRlbXtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICAmLXRpdGxle1xuICAgICAgZm9udC1mYW1pbHk6IHZhcigtLWZvbnQtZmFtaWx5KTtcbiAgICAgIGZvbnQtd2VpZ2h0OiA1MDA7XG4gICAgICBmb250LXNpemU6IDI0cHg7XG4gICAgICBsaW5lLWhlaWdodDogMTMzJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjA1ZW07XG4gICAgICBjb2xvcjogdmFyKC0tYmxhY2spO1xuICAgICAgbWFyZ2luLWJvdHRvbTogNDRweDtcbiAgICAgICYtYm94e1xuICAgICAgICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWF4KDYwMCl7XG4gICAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgICAgfVxuICAgICAgICAmX21vYmlsZXtcbiAgICAgICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgICAgIEBpbmNsdWRlIG1lZGlhUXVlcnlNYXgoNjAwKXtcbiAgICAgICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgICAgIH1cbiAgICAgICAgfVxuICAgICAgfVxuXG4gICAgfVxuICAgICYtd29yay10aW1le1xuICAgICAgZm9udC1mYW1pbHk6IHZhcigtLWZvbnQtZmFtaWx5KTtcbiAgICAgIGZvbnQtd2VpZ2h0OiA1MDA7XG4gICAgICBmb250LXNpemU6IDIwcHg7XG4gICAgICBsaW5lLWhlaWdodDogMTQwJTtcbiAgICAgIGxldHRlci1zcGFjaW5nOiAwLjA1ZW07XG4gICAgICBjb2xvcjogdmFyKC0tZ3JlZW4pO1xuICAgICAgbWFyZ2luLWJvdHRvbTogNTBweDtcbiAgICB9XG5cbiAgICAmLWltYWdle1xuICAgICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgICBkaXNwbGF5OiBibG9jaztcbiAgICAgIHdpZHRoOiAzMjVweDtcbiAgICAgIGhlaWdodDogMzI1cHg7XG4gICAgICBtYXJnaW46IDAgYXV0byA1MHB4IGF1dG87XG4gICAgfVxuXG4gICAgJi1pbm5lcntcbiAgICAgIEBpbmNsdWRlIGlzRmxleCgkYWxpZ246IGZsZXgtc3RhcnQpO1xuICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICB9XG5cblxuICAgICYtY29udGVudHtcbiAgICAgIEBpbmNsdWRlIGlzRmxleCgkYWxpZ246IGZsZXgtc3RhcnQpO1xuICAgICAgLy9wYWRkaW5nOiAwIDMycHg7XG4gICAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICB9XG5cbiAgICAmLWRlc2NyaXB0aW9ue1xuICAgICAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxNTAlO1xuICAgICAgY29sb3I6ICMwMDA7XG4gICAgICBtYXJnaW4tYm90dG9tOiA0OXB4O1xuICAgICAgJi1ib3h7XG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgICAgIGhlaWdodDogMTAwJTtcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAgICAgICBhbGlnbi1pdGVtczogc3RhcnQ7XG4gICAgICAgIGZvbnQtZmFtaWx5OiB2YXIoLS1mb250LWZhbWlseSk7XG4gICAgICAgIGZvbnQtd2VpZ2h0OiA0MDA7XG4gICAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICAgICAgbGluZS1oZWlnaHQ6IDE1MCU7XG4gICAgICAgIGNvbG9yOiB2YXIoLS1ibGFjayk7XG4gICAgICAgIHNwYW57XG4gICAgICAgICAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgICAgICAgfVxuICAgICAgICB1bHtcbiAgICAgICAgICBsaXN0LXN0eWxlLXR5cGU6IGRpc2M7XG4gICAgICAgICAgbWFyZ2luLWxlZnQ6IDMwcHg7XG4gICAgICAgICAgbGl7XG4gICAgICAgICAgICAvL3BhZGRpbmctbGVmdDogMTBweDtcbiAgICAgICAgICB9XG4gICAgICAgIH1cbiAgICAgIH1cbiAgICB9XG4gIH1cbiAgLnNsaWRlcl9fd3JhcHBlciAuc2xpZGVyX19jb250cm9sIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS13aGl0ZSk7XG4gICAgdG9wOjE1NnB4O1xuICB9XG4gIEBpbmNsdWRlIG1lZGlhUXVlcnlNaW4oJG1lZGlhUXVlcnlNaW5EZXNrdG9wQnJlYWtQb2ludCl7XG4gICAgLnRpdGxle1xuICAgICAgbWFyZ2luLWJvdHRvbTogMDtcbiAgICB9XG4gICAgJl9fdGl0bGUtYm94e1xuICAgICAgQGluY2x1ZGUgaXNGbGV4KCk7XG4gICAgICBtYXJnaW4tYm90dG9tOiAxMDZweDtcbiAgICB9XG5cblxuICAgICZfX2l0ZW17XG4gICAgICAmLWlubmVye1xuICAgICAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgICAgfVxuICAgICAgJi10aXRsZS1ib3h7XG4gICAgICAgIG1heC13aWR0aDogMzcwcHg7XG4gICAgICAgIG1hcmdpbi1yaWdodDogMjBweDtcbiAgICAgIH1cbiAgICAgICYtY29udGVudHtcbiAgICAgICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICAgIH1cbiAgICAgICYtaW1hZ2V7XG4gICAgICAgIHdpZHRoOiA0MTZweDtcbiAgICAgICAgaGVpZ2h0OiA0MTZweDtcbiAgICAgICAgbWFyZ2luLWxlZnQ6IDMycHg7XG4gICAgICAgIG1hcmdpbi1yaWdodDogMzJweDtcbiAgICAgIH1cbiAgICAgICYtd29yay10aW1le1xuICAgICAgICBtYXJnaW4tYm90dG9tOiAwO1xuICAgICAgfVxuICAgICAgJl9pcy1pbWctcmlnaHQgJi1jb250ZW50e1xuICAgICAgICBmbGV4LWRpcmVjdGlvbjogcm93LXJldmVyc2U7XG4gICAgICB9XG4gICAgfVxuICAgIC5zbGlkZXJfX3dyYXBwZXIgLnNsaWRlcl9fY29udHJvbCB7XG4gICAgICB0b3A6NTAlO1xuICAgIH1cbiAgfVxuICBAaW5jbHVkZSBtZWRpYVF1ZXJ5TWF4KDYwMCl7XG4gICAgJl9faXRlbS1pbWFnZS13cmFwe1xuICAgICAgd2lkdGg6IDEwMCU7XG4gICAgfVxuICB9XG59IiwiQHVzZSBcInNhc3M6bWFwXCI7XG5AdXNlIFwic2FzczptYXRoXCI7XG5cbkBtaXhpbiBzZXRTdmdJY29uU2l6ZUJ5V2lkdGgoJHdpZHRoLCAkaWNvbk5hbWUpe1xuICAkc3ZnSWNvbjogbWFwX2dldCgkc3ZnSWNvbnNMaXN0LCAkaWNvbk5hbWUpO1xuICAkcHJvcG9ydGlvbjogbWFwX2dldCgkc3ZnSWNvbiwgJ3Byb3BvcnRpb24nKTtcblxuICB3aWR0aDogI3skd2lkdGh9cHg7XG4gIGhlaWdodDogI3skd2lkdGgqJHByb3BvcnRpb259cHg7XG59XG5cbkBtaXhpbiBwb3NBYnNDZW50ZXIoJHcsICRoKXtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6NTAlO1xuICBsZWZ0OjUwJTtcbiAgaGVpZ2h0OiAkaDtcbiAgd2lkdGg6ICR3O1xuICBtYXJnaW4tdG9wOi0gbWF0aC5kaXYoJGgsIDIpO1xuICBtYXJnaW4tbGVmdDotIG1hdGguZGl2KCR3LCAyKTtcbn1cblxuQG1peGluIG1lZGlhUXVlcnlNaW4oJGJyZWFrcG9pbnQpIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KSl7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KX0pe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9QGVsc2V7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7JGJyZWFrcG9pbnR9cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG4gIFxufVxuQG1peGluIG1lZGlhUXVlcnlNYXgoJGJyZWFrcG9pbnQpIHtcbiAgQGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KSl7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50KX0pe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9QGVsc2V7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnR9cHgpe1xuICAgICAgQGNvbnRlbnQ7XG4gICAgfVxuICB9XG59XG5AbWl4aW4gbWVkaWFRdWVyeUJlZXR3ZWVuKCRicmVha3BvaW50RnJvbSwgJGJyZWFrcG9pbnRUbykge1xuICBAaWYgKG1hcC5oYXMta2V5KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRGcm9tKSBhbmQgbWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludFRvKSl7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSl9KSBhbmQgKG1heC13aWR0aDogI3ttYXAuZ2V0KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbyl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNlIGlmIChtYXAuaGFzLWtleSgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSkpe1xuICAgICAgQG1lZGlhIChtaW4td2lkdGg6ICN7bWFwLmdldCgkYnJlYWtQb2ludHMsICRicmVha3BvaW50RnJvbSl9KSBhbmQgKG1heC13aWR0aDogI3skYnJlYWtwb2ludFRvfXB4KXtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgICB9XG4gIH1AZWxzZSBpZiAobWFwLmhhcy1rZXkoJGJyZWFrUG9pbnRzLCAkYnJlYWtwb2ludFRvKSl7XG4gICAgQG1lZGlhIChtaW4td2lkdGg6ICN7JGJyZWFrcG9pbnRGcm9tfXB4KSBhbmQgKG1heC13aWR0aDogI3ttYXAuZ2V0KCRicmVha1BvaW50cywgJGJyZWFrcG9pbnRUbyl9KXtcbiAgICAgIEBjb250ZW50O1xuICAgIH1cbiAgfUBlbHNle1xuICAgIEBtZWRpYSAobWluLXdpZHRoOiAjeyRicmVha3BvaW50RnJvbX1weCkgYW5kIChtYXgtd2lkdGg6ICN7JGJyZWFrcG9pbnRUb31weCl7XG4gICAgICBAY29udGVudDtcbiAgICB9XG4gIH1cbiAgXG59XG5cbkBtaXhpbiBpc0ZsZXgoJGRpc3BsYXk6IGZsZXgsICRhbGlnbjogY2VudGVyLCAkanVzdGlmeUNvbnRlbnQ6IHNwYWNlLWJldHdlZW4pIHtcbiAgZGlzcGxheTogJGRpc3BsYXk7XG4gIGFsaWduLWl0ZW1zOiAkYWxpZ247XG4gIGp1c3RpZnktY29udGVudDogJGp1c3RpZnlDb250ZW50O1xuICBAY29udGVudDtcbn1cblxuQG1peGluIGljb24oXG4gICRpY29uUGF0aDonLi4vaW1nL2ljb24ucG5nJyxcbiAgJHc6MjBweCxcbiAgJGg6MjBweCxcbiAgJHBzZXVkbzogYmVmb3JlLFxuICAkYnBvczogNTAlIDUwJSxcbiAgJGJzaXplOiBjb3ZlclxuKXtcbiAgJjojeyRwc2V1ZG99e1xuICAgIGNvbnRlbnQ6ICcnO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB3aWR0aDogJHc7XG4gICAgaGVpZ2h0OiAkaDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJGljb25QYXRoKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246ICRicG9zO1xuICAgIGJhY2tncm91bmQtc2l6ZTogJGJzaXplO1xuICAgIEBjb250ZW50O1xuICB9XG59XG5AbWl4aW4gc3ZnX2ljb24oJG5hbWU6IGNhbGVuZGFyX3llbGxvdywgJGltZ1BhdGg6Jy4uL2ltZycsICR3OjIwcHgsICRoOjIwcHgsICRwc2V1ZG86IGJlZm9yZSwgJGJwb3M6IDUwJSA1MCUsICRic2l6ZTogY292ZXIpe1xuICBAaW5jbHVkZSBpY29uKFxuICAgICRpY29uUGF0aDogJGltZ1BhdGggKyAnL3N2Z19zcHJpdGUuc3ZnIycrICRuYW1lLFxuICAgICR3OiR3LFxuICAgICRoOiRoLFxuICAgICRwc2V1ZG86ICRwc2V1ZG8sXG4gICAgJGJwb3M6ICRicG9zLFxuICAgICRic2l6ZTogJGJzaXplXG4gICl7XG4gICAgQGNvbnRlbnQ7XG4gIH07XG59XG5AbWl4aW4gbG9hZGVyKCRpbWdQYXRoOicuLi9pbWcnLCAkdzoyMHB4LCAkaDoyMHB4LCAkcHNldWRvOiBiZWZvcmUpe1xuICAmOiN7JHBzZXVkb317XG4gICAgY29udGVudDogJyc7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIHdpZHRoOiAkdztcbiAgICBoZWlnaHQ6ICRoO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgkaW1nUGF0aCArICcvbG9hZGVyLmdpZicpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1wb3NpdGlvbjogNTAlIDUwJTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgICBAY29udGVudDtcbiAgfVxufVxuXG5AbWl4aW4gdHJhbnNpdGlvbigkcHJvcGVydHk6IGFsbCwgJHRpbWU6IDMwMG1zLCAkZWZmZWN0OmN1YmljLWJlemllcigwLjI1LCAwLjgsIDAuMjUsIDEpKXtcbiAgICB0cmFuc2l0aW9uOiAkcHJvcGVydHkgJHRpbWUgJGVmZmVjdDtcbiAgICAtd2Via2l0LXRyYW5zaXRpb246ICRwcm9wZXJ0eSAkdGltZSAkZWZmZWN0O1xuICAgIC1tb3otdHJhbnNpdGlvbjogJHByb3BlcnR5ICR0aW1lICRlZmZlY3Q7XG59XG5AbWl4aW4gcGxhY2Vob2xkZXIoKXtcbiAgJjo6LXdlYmtpdC1pbnB1dC1wbGFjZWhvbGRlciB7IEBjb250ZW50OyB9XG4gICY6LW1zLWlucHV0LXBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbiAgJjo6LW1zLWlucHV0LXBsYWNlaG9sZGVyIHsgQGNvbnRlbnQ7IH1cbiAgJjo6cGxhY2Vob2xkZXIgeyBAY29udGVudDsgfVxufVxuQG1peGluIGxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcil7XG4gIGJhY2tncm91bmQtY29sb3I6ICR0b0NvbG9yOyAvKiBGYWxsYmFjayBDb2xvciAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAtd2Via2l0LWdyYWRpZW50KGxpbmVhciwgJGRpcmVjdGlvbiwgZnJvbSgkZnJvbUNvbG9yKSwgdG8oJHRvQ29sb3IpKTsgLyogU2FmNCssIENocm9tZSAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAtd2Via2l0LWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIENocm9tZSAxMCssIFNhZjUuMSssIGlPUyA1KyAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAtbW96LWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIEZGMy42ICovXG4gIGJhY2tncm91bmQtaW1hZ2U6ICAgICAtbXMtbGluZWFyLWdyYWRpZW50KCRkaXJlY3Rpb24sICRmcm9tQ29sb3IsICR0b0NvbG9yKTsgLyogSUUxMCAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgIC1vLWxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7IC8qIE9wZXJhIDExLjEwKyAqL1xuICBiYWNrZ3JvdW5kLWltYWdlOiAgICAgICAgIGxpbmVhci1ncmFkaWVudCgkZGlyZWN0aW9uLCAkZnJvbUNvbG9yLCAkdG9Db2xvcik7XG4gIGZpbHRlcjogcHJvZ2lkOkRYSW1hZ2VUcmFuc2Zvcm0uTWljcm9zb2Z0LmdyYWRpZW50KEdyYWRpZW50VHlwZT0xLFN0YXJ0Q29sb3JTdHI9JyN7JGZyb21Db2xvcn0nLCBFbmRDb2xvclN0cj0nI3skdG9Db2xvcn0nKTtcbn1cblxuQG1peGluICBBbmltYXRlZEJhY2tncm91bmRMb2FkKCRoOiBhdXRvLCAkYnJhZGl1czoyMHB4KXtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgaGVpZ2h0OiAkaDtcbiAgYm9yZGVyLXJhZGl1czogJGJyYWRpdXM7XG4gIGJhY2tncm91bmQ6ICNmM2YzZjMgbGluZWFyLWdyYWRpZW50KHRvIHJpZ2h0LCNmM2YzZjMgNSUsI2VlZSAyMCUsI2YzZjNmMyAzNSUpO1xuICBhbmltYXRpb246IHBsYWNlaG9sZGVyU2hpbW1lciAycyBsaW5lYXIgMHMgaW5maW5pdGUgbm9ybWFsIGZvcndhcmRzO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG5cbiAgJjphZnRlcntcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgcmlnaHQ6IDA7XG4gICAgY29udGVudDogJyc7XG4gICAgYmFja2dyb3VuZDogI2ZmZjtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgd2lkdGg6IDA7XG4gIH1cbn0iXX0= */
