.slider__control {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.slider__control:hover {
  opacity: 1;
}
.swiper:not(.swiper-initialized) .slider__control,
.banners .slider__control.swiper-button-lock{
  display: none;
}
.slider__control_prev {
  left: 48px;
}
.slider__control_next {
  right: 48px;
}
.slider__control.swiper-button-disabled{
  opacity: 0.2;
}

.swiper__slider-pagination,
.swiper-pagination-bullet{
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet{
  cursor: pointer;
  width: 16px;
  padding: 8px 0;
  margin: 0 8px;
  border-radius: 0;
  background: none;
}
.swiper-pagination-bullet:before{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  /*background: var(--green);*/
  background: var(--white);
  opacity: 0.75;
}
.swiper-pagination-bullet-active{
  opacity: 1;
}
.swiper-pagination-bullet-active:before,
.swiper-pagination-bullet-active:hover:before{
  opacity: 1;
  background: var(--white);

}

