/*  ======================================================================
        SELECT AMOUNT
========================================================================== */
.amount {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    height: 40px;
    border: 1px solid #e0ebf7;
    border-radius: 20px;
    overflow: hidden;
}

.amount__input {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 40px;
    height: 100%;
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #434343;
}

.amount__button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #434343;
    width: 44px;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
            transition: all .2s;
}

.amount__button:hover {
    background-color: #eaeaea;
}

.amount__button:before,
.amount__button:after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 7px);
    display: block;
    background-color: #000;
}

.amount__button:before {
    width: 15px;
    height: 1px;
}

.amount__button:after {
    top: calc(50% - 8px);
    left: calc(50% - 0px);
    width: 1px;
    height: 15px;
}

.amount__button--minus:after {
    display: none;
}

/*----- Media Styles -----*/
@media only screen and (max-width : 374px) {
    .amount__input { width: 34px; }
}


/*  ======================================================================
        BREADCRUMB
========================================================================== */
.section-breadcrumb {
	padding: 30px 0 0 0;
}

.breadcrumb__item {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 8px;
}

.breadcrumb__item a,
.breadcrumb__item span {
	color: #868686;
}

.breadcrumb__item a {
	text-decoration: none;
}

.breadcrumb__item a:hover {
	text-decoration: underline;
}

.breadcrumb__item i {
	margin-left: 13px;
}

.breadcrumb__icon {
	display: inline-block;
	vertical-align: top;
	width: 11px;
	height: 18px;
	background: url(../images/icon-breadcrumb.png) no-repeat center;
}
/*  ======================================================================
        BUTTONS
========================================================================== */
/*----- BUTTON -----*/
.btn {
    position: relative;
    display: block;
    padding: 24px 15px 25px 15px;
    margin: 0;
    max-width: 400px;
    border: 1px solid transparent;
    background: var(--biege);
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none !important;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
            transition: all 0.4s;
    cursor: pointer;
}

/*.btn:hover,
.btn-two:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #a99a8a;
    color: #fff;
}*/

/*----- BUTTON WITH ICON  -----*/
.btn--icon-left i,
.btn--icon-right i {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: initial;
}

.btn--icon-left i {
	margin-right: 15px;
}

.btn--icon-right i {
	margin-left: 15px;
}

/*----- BASIC STYLE FOR BEFORE && AFTER   -----*/
/*.btn:before {*/
/*	content: '';*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    -webkit-transition: all 0.3s;*/
/*       -moz-transition: all 0.3s;*/
/*            transition: all 0.3s;*/
/*    -webkit-backface-visibility: hidden;*/
/*       -moz-backface-visibility: hidden;*/
/*}*/

/*.btn:after {*/
/*	content: '';*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    -webkit-transition: all 0.3s;*/
/*       -moz-transition: all 0.3s;*/
/*            transition: all 0.3s;*/
/*    -webkit-backface-visibility: hidden;*/
/*       -moz-backface-visibility: hidden;*/
/*}*/

/*----- BUTTON ROUNDED && CIRCLE   -----*/
.btn--rounded {
	border-radius: 5px !important;
}

.btn--circle {
	/*border-radius: 30px !important;*/
}

/*----- BUTTON E1 -----*/
/*.btn--e1 {
    width: 200px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;       
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
}

.btn--e1:before {
    position: absolute;
    top: 50%;
    right: 101%;
    z-index: 1;
    margin: -15px 0 0 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ac5e5d;
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transform: scale3d(1, 2, 1);
            transform: scale3d(1, 2, 1);
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
            transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}

.btn--e1:hover:before {
    -webkit-transform: scale(9);
            transform: scale(9);
}

.btn--e1:hover {
    background-color: #006d99;
    color: #fff;
}*/

.btn--e1 span {
    position: relative;
    z-index: 2;
}

/*----- BUTTON 2 -----*/
/*.btn-2 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 203px;
    padding: 14px 0 12px 0;
    margin: 0;
    border: 1px solid #006d99;
    background-color: transparent;
    font-size: 14px;
    color: #006d99;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    cursor: pointer;
}

.btn-2:hover,
.btn-2:focus,
.btn-2:active,
.btn-2.active {
    background-color: #ac5e5d;
    color: #fff;
}*/
/*  ======================================================================
        FORM ELEMENTS
========================================================================== */
/*.form {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='phone'],
.form textarea,
.form select {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #a28e87;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    color: #006d99;
    margin-bottom: 18px;
    outline: none !important;
    background-color: transparent;
    box-shadow: 0 0 18px transparent;
    -webkit-transition: border-color .2s, box-shadow .2s;
       -moz-transition: border-color .2s, box-shadow .2s;
            transition: border-color .2s, box-shadow .2s;
}

.form textarea {
    height: 145px;
    resize: vertical;
    padding: 10px 15px;
}

.form label {
    display: block;
}

.form input[type='text']:focus,
.form input[type='email']:focus,
.form input[type='password']:focus,
.form input[type='date']:focus,
.form input[type='phone']:focus,
.form select:focus,
.form textarea:focus {
    box-shadow: 0 0 18px rgba(150, 82, 81, 0.2);
}*/

/*----- FORM STYLE 2 -----*/
/*.form-2 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.form-2 input[type='text'],
.form-2 input[type='email'],
.form-2 input[type='password'],
.form-2 input[type='date'],
.form-2 input[type='phone'],
.form-2 textarea,
.form-2 select {
    display: inline-block;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid #adadad;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    margin-bottom: 18px;
    outline: none !important;
    background-color: transparent;
    box-shadow: 0 0 18px transparent;
    -webkit-transition: border-color .2s, box-shadow .2s;
       -moz-transition: border-color .2s, box-shadow .2s;
            transition: border-color .2s, box-shadow .2s;
}

.form-2 textarea {
    height: 145px;
    resize: vertical;
    padding: 10px 20px;
}

.form-2 label {
    display: block;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 0;
}

.form-2 label > span {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    font-size: 16px;
    font-weight: normal;
}

.input-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    font-size: 14px;
    width: 100%;
}

.form-2 label > span + .input-wrap {
    width: calc(100% - 110px);
}

.input-wrap input {
    margin-bottom: 0 !important;
}

.input-focus:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #006d99;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
            transition: all .5s;
}

.input-wrap input:focus + .input-focus:before {
    width: 100%;
} */
/*  ======================================================================
        HOVER EFFECT - 1
========================================================================== */
.hover-e1,
.hover-e1-span span {
	display: inline-block;
    vertical-align: middle;
	position: relative;
	overflow: hidden;
	text-decoration: none !important;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s; 
}

.hover-e1:before,
.hover-e1-span span:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 1px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform: translateX(-102%);
       -moz-transform: translateX(-102%);
        -ms-transform: translateX(-102%);
            transform: translateX(-102%); 
    background-color: #28a977;
}

.hover-e1:hover:before,
.hover-e1-span:hover span:before {
    -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);	
}


/*  ======================================================================
        MODAL WINDOW
========================================================================== */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    min-width: 320px;
    z-index: 2000;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

/*--------- Modal Window - Close ---------*/
.md-close {
    position: absolute;
    top: 27px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 11px;
    text-decoration: none;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    cursor: pointer;
}

.md-close.fixed-top {
    position: fixed;
}

.md-close svg {
    display: block;
    fill: #000;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.md-close:hover svg {
    fill: #000;
}

/*--------- Modal Window - Overlay ---------*/
.md-overlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    background: #21282c;
    cursor: pointer;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.md-overlay.md-show {
    opacity: .8;
    visibility: visible;
}

/*--------- Modal Window - Animation window ---------*/
.md-modal .md-content {
    opacity: 0;
    background: url(../img/md-bg.jpg) no-repeat, #fff;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.md-show.md-modal .md-content {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/*--------- Modal Window - Content ---------*/
.md-top {
    margin-bottom: 18px;
}

.md-content {
    position: relative;
    background-color: #fff;
    color: #434343;
    padding: 30px;
    padding-top: 31px;
}

.md-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
    color: #3a3a3a;
    text-align: left;
}

.md-top p {
    font-size: 14px;
    color: #3a3a3a;
}

.form p {
    margin: 0;
    font-size: 12px;
    color: #5c5c5c;
}

.form p span {
    display: inline-block;
    vertical-align: top;
}

.form p span.icon-req {
    position: relative;
    top: 7px;
    display: inline-block;
    font-size: 36px;
    color: #d5d0c8;
    margin-right: 10px;
    line-height: 20px;
}

.form .btn {
    margin-bottom: 16px;
}

.md-form.form input, 
.md-form.form textarea,
.md-form.form select {
    border: none;
    border-bottom: 1px solid #969696;
    box-shadow: none !important;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    color: #006d99;
    margin-bottom: 24px;
}

.md-form.form textarea {
    height: 100px;
    resize: none;
    margin-top: 6px;
    margin-bottom: 20px;
}
/*  ======================================================================
        PAGINATION
========================================================================== */
.pagination {
    margin-top: 32px;
    text-align: center;
}

.pagination__list {
    white-space: nowrap;
}

.pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0px 2px;
}

.pagination a {
    position: relative;
    display: block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    color: #000;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
            transition: all 0.2s;
    cursor: pointer;
}

.pagination .pagination__prev,
.pagination .pagination__next {
    width: 16px;
    height: 32px;
    padding: 8px 0;
    fill: var(--biege);
}

.pagination .pagination__prev svg,
.pagination .pagination__next svg {
    display: block;
}

.pagination a:not([class^='pagination__']).active,
.pagination a:not([class^='pagination__']):hover {
    border-color: var(--biege);
}

.pagination a.disabled {
    display: none;
}
/*  ======================================================================
        CUSTOM SELECT
========================================================================== */
.select {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #d3d3d3;
    text-align: left;
}

.select__title {
    position: relative;
    width: 100%;
    padding: 11px 18px 9px 18px;
    background: #fff;
    font-size: 15px;
    color: #6B6A6A;
    cursor: pointer;
}

.select__title:after {
    content: '\f107';
    position: absolute;
    right: 18px;
    top: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
    font: 15px 'FontAwesome';
    color: #525252;
}

.select__title.active:after {
    content: '\f106';
}

.select__placeholder {
    color: #A5A5A5;
}

.select__list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    left: -1px;
    width: calc( 100% + 2px );
    background-color: #fff;
    border: 1px solid #d3d3d3;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-transform: translateY(18px);
       -moz-transform: translateY(18px);
            transform: translateY(18px);
}

.select__list.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translateY(2px);
       -moz-transform: translateY(2px);
            transform: translateY(2px);
}

.select__item {
    position: relative;
    display: block;
    padding: 10px 18px 8px 18px;
    text-decoration: none;
    color: #434343;
}


.select__item.active,
.select__item:hover {
    text-decoration: none;
    background-color: #EFECEC;
    cursor: pointer;
}

.select__item.active {
    margin-left: -1px;
    margin-right: -1px;
    background-color: #213c79;
    color: #fff;
}


/*  ======================================================================
        BASIC ELEMENTS: TABS
========================================================================== */
.tabs:not(:last-child),
.tabs-2:not(:last-child) {
    margin-bottom: 30px;
}

.tabs .tabs__caption,
.tabs-2 .tabs__caption {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.tab__link {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.tab__link:before {
  display: none;
}

.tabs__content {
    border: 1px solid #dfdfdf;
    background-color: #fff;
}

.tab__content {
    display: none;
    padding: 30px 40px;
    font-size: 14px;
    color: #434343;
}

.tabs__content .tab__content p {
    font-size: inherit;
    color: inherit;
}

.tab__content.active {
    display: block;
}

/*----- tabs #1 -----*/
.tabs .tab__link {
    font-size: 14px;
    font-weight: 300;
    color: #434343;
    padding: 15px 30px;
    margin: 0 1px;
    background-color: #f6f7fe;
}

.tabs .tab__link:hover,
.tabs .tab__link.active {
   background-color: #213c79;
   color: #fff;
}

/*----- tabs #1 vertical -----*/
.tabs.tabs--vertical {
    display: table;
}

.tabs.tabs--vertical .tabs__caption {
    display: table-cell;
    vertical-align: top;
    width: auto;
}

.tabs.tabs--vertical .tab__link {
    display: block;
    white-space: nowrap;
    margin: 2px 0;
}

.tabs.tabs--vertical .tabs__content {
    display: table-cell;
}

/*----- tabs #1 inverse -----*/
.tabs.tabs--inverse .tab__link {
    background-color: #2f4d90;
    color: #fff;
}

.tabs.tabs--inverse .tab__link:hover,
.tabs.tabs--inverse .tab__link.active {
  background-color: #fff;
  color: #213c79;
}

.tabs.tabs--inverse .tabs__content {
    border: none;
}

/*----- tabs #2 -----*/
.tabs-2 .tab__link {
    padding: 0;
    padding-bottom: 5px;
    margin: 0 40px;
    border-bottom: 1px dashed transparent;
    font-size: 18px;
    color: #a0a0a0;
    text-transform: uppercase;
}

.tabs-2 .tab__link:hover,
.tabs-2 .tab__link.active {
   border-color: #000;
   color: #000;
}

.tabs-2 .tabs__content {
    border: none;
    background-color: transparent;
}

.tabs-2 .tab__content {
    padding: 35px 0px;
}

.tab__link:first-child {
    margin-left: 0;
}

.tab__link:last-child {
    margin-right: 0;
}

.tabs.tabs--vertical .tab__link:first-child {
    margin-top: 0;
}

.tabs.tabs--vertical .tab__link:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width : 991px) {
    .tabs__caption {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .tabs .tab__link { display: table-cell; }
    .tabs-2 .tab__link { display: inline-block; }
}
@media only screen and (max-width : 767px) {
    .tabs .tab__link {
        display: inline-block;
        width: calc(50% - 1px);
        margin-bottom: 1px;
    }
    .tabs .tab__link:nth-child(odd){ margin-left: 0; }
    .tabs .tab__link:nth-child(even){ margin-right: 0; }
    .tabs-2 .tab__link {
        display: inline-block;
        width: auto;
    }
    .tabs.tabs--vertical .tab__link { width: auto; }
}
@media only screen and (max-width : 600px) {
    .tabs.tabs--vertical,
    .tabs.tabs--vertical .tabs__caption {
        display: block;
    }
    .tabs.tabs--vertical .tab__link {
        display: inline-block;
        width: calc(50% - 1px);
        margin: 0 1px;
        margin-bottom: 1px;
    }
    .tabs.tabs--vertical .tab__link:nth-child(odd){ margin-left: 0; }
    .tabs.tabs--vertical .tab__link:nth-child(even){ margin-right: 0; }
    .tabs-2 .tab__link {
        margin: 0 15px;
        font-size: 14px;
    }
    .tabs-2 .tab__link:first-child { margin-left: 0; }
}
@media only screen and (max-width : 480px) {
    .tabs .tab__link,
    .tabs.tabs--vertical .tab__link,
    .tabs-2 .tab__link {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 1px;
    }
    .tabs-2 .tab__link { margin-bottom: 10px; }
}
/*  ======================================================================
        BUTTON "TO-TOP"
========================================================================== */
.to-top {
    position: fixed;
    z-index: 9999;
    right: 26.5px;
    bottom: 50px;
    width: 40px;
    height: 90px;
    border-radius: 4px;
    background-color: #ffcd2b;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
}

.to-top.active {
    opacity: 1;
    visibility: visible;
}

.to-top__text {
    position: absolute;
    top: 50px;
    left: 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #383838;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.to-top__icon {
    position: absolute;
    top: 12px;
    left: 13px;
    width: 13px;
    height: 13px;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.to-top:hover .to-top__icon {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
            transform: translateY(5px);
}

.to-top__icon svg {
    display: block;
    fill: #383838;
}
.widget-search__form {
    position: relative;
    display: block;
}

.widget-search__form input {
    width: 100%;
    height: 40px !important;
    padding-left: 28px;
    padding-right: 68px;
    border: none;
    border-radius: 20px;
    background-color: #fbfbfb;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.widget-search__form input::-webkit-input-placeholder {color:#a18e87;}
.widget-search__form input::-moz-placeholder          {color:#a18e87;}/* Firefox 19+ */
.widget-search__form input:-moz-placeholder           {color:#a18e87;}/* Firefox 18- */
.widget-search__form input:-ms-input-placeholder      {color:#a18e87;}

.widget-search__form input:focus {
    background-color: #f5f5f5;
}

.widget-search__form button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 68px;
    height: 100%;
    padding: 0;
    border: none;
    text-align: center;
    background: transparent !important;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.widget-search__form button:hover .icon-search {
    background: url(../images/search-hover.png) no-repeat;
}

.widget-search__form button i {
    position: relative;
    left: -10px;
}
